[2014-11-05 23:07] ChristianWeyer opened #1 "Ability to use arbirary OAuth 2.0 authorization servers"
First, nice project!

Did you ever think about providing something like a 'generic' function which takes a bunch of parameters to support OAuth 2.0 flows with authorization servers like https://github.com/thinktecture/Thinktecture.IdentityServer.v3 ?

[2014-11-11 10:06] edewit opened #2 "Refresh token"
Very nice, but it's missing the ability to refresh the token, or am I missing something?

[2014-11-11 15:56] #2 closed, assigned to nobody

[2014-11-21 22:47] rickyk586 opened #4 "Re-sign in and authorize each time for Google"
The re-sign is due to
`clearsessioncache=yes,clearcache=yes`
in window.open()

If this is removed, you no longer have to log in each time.

Having to authorize each time is due to
`approval_prompt=force`

If you change that to `approval_prompt=auto`, you don't have to authorize each time.

The window wasn't closing every time after making these changes. Adding a timeout around the close call seems

[2014-11-26 16:25] nraboy opened #5 "Add Rally Support"
Add support for the Rally provider as documented here:

https://github.com/RallySoftware/rally-oauth-examples

[2014-11-27 00:33] bowenliang123 opened #6 "“unsupported_response_type” ?"
i am trying to use $cordovaOauth.google(..) as sample does..
but the status from google is 400 and shows "Error:unsupported_response_type".

How can i solve it?

thx.

[2014-11-27 02:28] #6 closed, assigned to nobody

[2014-11-27 14:55] nonec opened #8 "Feature request: Magento support"
OAuth support for magento API would be great
(http://www.magentocommerce.com/api/rest/authentication/oauth_authentication.html)

[2014-12-02 20:11] n40jpj opened #9 "Feature Request: Please add Strava support"

[2014-12-12 19:05] KevinGurden opened #11 "Could I say thankyou?"
I've been struggling with this for 2 days. I tried your dropbox call and it just worked - thank you!
Kevin

[2014-12-12 19:17] #11 closed, assigned to nobody

[2014-12-13 15:40] #9 closed, assigned to nobody

[2014-12-14 03:19] nraboy opened #12 "Add Re-Request Feature To Facebook"
Allow the application to request permissions after the user has already denied them.  Documentation for rerequest can be seen here:

https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow/v2.2

According to the documentation, the following code would do the trick:

[code]

The particular parameter is `auth_type=rerequest` and should be used with caution.

[2014-12-22 22:53] kevbaker opened #13 "Problems with linkedin provider?"
I am unable to get the linkedin provider working:

$cordovaOauth.linkedin(string clientId, string clientSecret, array appScope, string state);

Can you provide a code sample for this?

I am successfully using the Facebook provider.

[2014-12-23 05:16] #13 closed, assigned to nobody

[2014-12-31 12:28] sivakumarbdu opened #14 "I get exception after login with my Facebook credentials and accept the application."
CordovaWebViewClient.onReceivedError: Error code=-6 Description=net::ERR_CONNECTION_REFUSED URL=http://localhost/callback?#access_token={access_token}-asdfG3Bb9&expires_in=5181123

[2015-01-02 05:21] sivakumarbdu commented on #14
Thanks @nraboy

I already have http://localhost/callback in my facebook application  under Site URL and Mobile Site URL

![facebook_url](https://cloud.githubusercontent.com/assets/718851/5594320/1382cd98-926d-11e4-9064-6576791bced3.png)

[2015-01-02 05:21] sivakumarbdu commented on #14
Am I missing anything?

[2015-01-02 05:31] nraboy commented on #14
Just to confirm, you did install the InAppBrowser plugin, correct?

[2015-01-02 06:37] sivakumarbdu commented on #14
@nraboy  Somehow the plugin is not installed properly when I clone the code from repo. It works perfect.   It was my mistake.

I take help from https://github.com/apache/cordova-plugin-inappbrowser/blob/master/doc/index.md for inapp browser plugin installation.

Thanks @nraboy

[2015-01-02 15:15] psimondk opened #15 "Dual mode browser and mobile device"
Hi,

Coenraets made an FB library where there was an ability to login even if you where not using a mobile device. Perhaps some of that code could be re-purposed to do the same for ng-cordova-oauth?

https://github.com/ccoenraets/OpenFB

Btw. awesome libraries! :+1:

Brgds, Palle S

[2015-01-02 20:41] nraboy commented on #14
I'm glad it worked out :)

[2015-01-02 20:41] #14 closed

[2015-01-02 20:48] nraboy commented on #15
It is a possibility, but I don't know how I feel about needing to include a callback HTML file for browser development.  It also would require testing through a locally hosted server to be able to get to `http://localhost`

It would add another layer of confusion to the library.

I'll think about it :)

[2015-01-03 09:20] sriram-dev opened #16 "Twitter OAuth does not work"
I tried OAuth with twitter with all the recommended settings as mentioned in site. I notice a problem where in , the promise always gets rejected with message
**The sign in flow was canceled**

[2015-01-03 09:25] sriram-dev commented on #16
I did a little digging in the source code and found that , when browserref is closed ,
**https://github.com/nraboy/ng-cordova-oauth/blob/master/ng-cordova-oauth.js#L476** , the browserref exit listener gets called and hence the promise gets rejected, before the processing of main flow is completed. Exit listener might have to be removed from code. Let me know if i can submit a patch for the same.

[2015-01-03 09:37] psimondk commented on #15
For debugging purposes it is really neat to be able to run all the code in
browser mode. ionic serve or similar should provide the needed web server.
Anyway I manage to get by using remote debugging, but it would be a very
welcome addition :)

Cheers, Palle

On Fri, Jan 2, 2015 at 9:48 PM, Nic Raboy <notifications@github.com> wrote:

[2015-01-03 16:37] nraboy commented on #16
The `deferred.reject("The sign in flow was canceled")` should only be triggered if the browser was exited before one of the other promise results are returned.  A common scenario being the back button was pressed in Android.

If the sign in flow completes successfully, a resolve should be triggered before closing the browser meaning the reject is not fired.

Would you mind sharing some source code

[2015-01-03 17:29] sriram-dev commented on #16
I am using moto G to test. Since $http is asynchronous, browser close gets called before the API call is processed. Maybe the close call can be moved inside $http call(both sucess and failure case) to avoid this. I will work on sharing source some source code.

[2015-01-03 17:43] nraboy commented on #16
I understand what you are talking about now.

I pushed a revision.  Should correct the problem now.  However, it may flash a page not found screen for a moment.  I'm open for suggestions on fixing the flash.

I have no library recommendations.  Maybe use the official Twitter JS library and plug in the Oauth credentials?

[2015-01-03 18:19] nraboy commented on #4
@rickyk586,

Can you please try the latest ng-cordova-oauth and tell me if you still suffer from the `browserRef.close()` issue?

Thanks,

[2015-01-07 16:19] robotvert opened #17 "usage example uses a deprecated google scope"
As per [google's login scopes doc](https://developers.google.com/+/api/oauth#login-scopes) the scope `userinfo.email` scope featured in the example in the README is deprecated.

Since many people blindly copy/paste the sample code, me thinks the example should be updated.

For now the non deprecated, oauth based equivalent seems to be `https://www.googleapis.com/auth/plus.profile.emails.read`, whi

[2015-01-07 16:26] nraboy commented on #17
Thanks for pointing this out! It is difficult for me to keep track of everything, so this is much appreciated.

I wan't to say `email` won't work, but you can always give it a try.  I'll update the documentation some time this week to reflect.

Thanks,

[2015-01-07 16:30] robotvert commented on #17
Tried already :wink:
The API returns an invalid scope error after the user enters its credentials.
I'm not so familiar with it but it seems the OpenID Connect dance is slightly different (even though it's based on Oauth).

[2015-01-07 16:39] nraboy commented on #17
Well I appreciate you trying :)

[2015-01-08 00:01] nraboy commented on #8
This has been pushed to the development branch:

https://github.com/nraboy/ng-cordova-oauth/blob/development/ng-cordova-oauth.js#L797

It will be merged with the master after testing.

[2015-01-08 08:49] robotvert commented on #17
My bad, I read the doc like stupid yesterday.

Actually simply setting `email` as the scope instead of `https://www.googleapis.com/auth/userinfo.email` works like a charm.

[2015-01-08 14:14] kromkens commented on #1
First off, nice work with this library!

Regarding the OAuth 2.0 functions: will these then also work with ADFS?

[2015-01-08 14:26] nraboy commented on #1
Active directory is a completely different beast.  With that said, no this library will not work with ADFS.

Sorry,

[2015-01-08 14:32] kromkens commented on #1
That's too bad then. Any idea, example or library on how to authenticate against ADFS that you know of?

[2015-01-08 14:34] nraboy commented on #1
I don't know a single thing when it comes to ADFS.  You may try posting this question in the Ionic Framework forums.

Sorry,

[2015-01-08 14:37] nraboy commented on #17
Thanks for the update!

[2015-01-08 17:42] nonec commented on #8
Thanks very much! :)

[2015-01-09 14:40] nraboy commented on #8
This is now in the master branch.

[2015-01-09 14:40] #8 closed

[2015-01-09 14:40] nraboy commented on #16
This is in the master branch.

[2015-01-09 14:40] #16 closed

[2015-01-09 14:44] nraboy commented on #17
This change to the README is now in the master.

[2015-01-09 14:44] #17 closed

[2015-01-09 18:56] kromkens commented on #1
I finally got the OAuth 2.0 working with ADFS. It is in fact not very different from the other providers. Any interest in adding this to the library?

[2015-01-09 19:00] nraboy commented on #1
Can you fork this repository so I can see your code?

[2015-01-13 02:10] 5inline opened #22 "Example of retrieving additional data after login?"
I'm attempting to make a request to https://api.twitter.com/1.1/account/verify_credentials.json to retrieve the user profile information after login.

Something like (which I can't seem to get working):

[code]

[2015-01-13 02:26] nraboy commented on #22
I'm not familiar with the Twitter API.  This library was only intended to accomplish the Oauth login.  Everything beyond that was intended to be of your own design, imagination, and research.

With that said, what errors are you receiving?  Without having seen your errors, my first assumption is you're getting an invalid signature, probably because you are not creating a signature with BOTH the cl

[2015-01-13 02:54] nraboy commented on #4
The browser closing issue should be corrected as of commit 2abc489f564cbf336b1ba504a0411d3738369405

[2015-01-13 02:54] #4 closed

[2015-01-13 04:40] 5inline commented on #22
Ah, gotcha. Just looking for some additional guidance.

You are correct though, I am getting a signature issue. Are you saying where the [secret] is? What should be there? consumer_secret +'&'+ oauth_token_secret ?

[2015-01-13 04:48] nvcken opened #23 "not get facebook account info when login"
My implement is ionic , ngCordova to build android app
I use ngCordovaOauth to do facebook login
But when press login button I call
$scope.facebookLogin = function() {
        $cordovaOauth.facebook("CLIENT_ID_HERE", [""]).then(function(result) {
            // results
        }, function(error) {
            // error
        });
    }

Then it open window facebook  login require type Email/ passw

[2015-01-13 04:50] nraboy commented on #22
The `$cordovaOauthUtility.createSignature` method takes an optional final parameter for the oauth_token_secret.  If found it will sign with both the consumer secret and token secret.

[2015-01-13 04:52] nraboy commented on #23
$cordovaOauth is web based sign in.  It does not interact with the native application so there is no relationship to any existing account on the device.

[2015-01-13 04:56] nvcken commented on #23
oh now I see, so please help me for any plugin to do login with exist account on device ?

[2015-01-13 05:05] nraboy commented on #23
The InAppBrowser is just a web browser.  If you want to access account information from the native app, you'll need a different plugin and library as mine will not accomplish this.

[2015-01-13 05:05] #23 closed

[2015-01-13 19:08] thomasMary opened #24 "'The sign in flow was canceled' issue"
Hi,

I'm trying to login with Twitter, i've followed the procedure:
-cordova plugin add https://git-wip-us.apache.org/repos/asf/cordova-plugin-inappbrowser.git
-set  http://localhost/callback as the callback / redirect uri
- add sha1.js
Here is my problem, when I login on twitter, I received the following error: "The sign in flow was canceled". So I jump into your code, and I found this lines:
bro

[2015-01-13 19:11] nraboy commented on #24
What version of the library are you using?  Are you using the ng-cordova-oauth, or ng-cordova version?

This issue should be corrected in the ng-cordova-oauth version, but I've not yet pushed the changes to ng-cordova managed by Driftyco.

Please let me know and we'll start there.

Thanks,

[2015-01-13 19:14] nraboy commented on #24
Make sure the version you're using has the .finally block as seen here:

https://github.com/nraboy/ng-cordova-oauth/blob/master/ng-cordova-oauth.js#L551-L555

[2015-01-13 19:14] thomasMary commented on #24
Indeed, i'm using the ng-cordova version.

[2015-01-13 19:18] nraboy commented on #24
Sorry about that.  Since this is just a hobby project, I can fall behind on keeping things in sync.

I'll report back to this ticket when the Driftyco library has been updated.

[2015-01-14 05:28] nraboy commented on #24
Created the following pull request:

https://github.com/driftyco/ng-cordova/pull/566

Once Driftyco accepts, your problems should be resolved.

[2015-01-14 08:59] thomasMary commented on #24
Thanks a lot ! :)

[2015-01-14 13:59] Kaushick commented on #24
I got an error "Validation failed: Not a valid URL format" when added  "http://localhost/callback" as redirect uri in twitter app. Can you please tell me the solution?

[2015-01-14 15:08] nraboy commented on #24
Twitter is the only exception where it doesn't need to be `http://localhost/callback` because they allow you to override it via the API call.  I recommend you put something like `http://example.com/callback` in the Twitter dashboard.  $cordovaOauth will take care of the rest.

[2015-01-14 15:08] #24 closed

[2015-01-14 15:08] #22 closed

[2015-01-15 07:01] Kaushick commented on #24
Thanks a lot. Can you help me once again? When I'm using $cordovaOauth.twitter("consumerKey", "consumerSecretKey"); in response I'm getting access_token, access_token_secret, screen_name and user_id. Now when I'm calling twitter's "users/show.json" api with screen_name and user_id it is throwing an error "Bad Authentication data". Now my question is how can I authenticate my api call?

[2015-01-15 14:11] nraboy commented on #24
Hi @kaushick,

This library was only intended to get you as far as the Oauth credentials.  I'm going to have to direct you to the Twitter RESTful API documentation if you need help using it:

https://dev.twitter.com/rest/public

My assumption is you're either forgetting to include the Authorization header in your API requests, or your signature is incorrect in the header.

https://blog.nraboy.com/

[2015-01-15 15:49] Kaushick commented on #24
Sorry for commenting here. But I've a last question. For 'users/show.json' call I need to generate the Authentication header and attach it?

[2015-01-23 09:50] visnupriya opened #25 "Getting error after connected with social network (fb and google_plus) on WP8"
I am getting error as shown below after login with fb or gplus social network. Please help. How to resolve that issue. It is getting on WP8 device only same code works fine on Android and iPhone. Please help me to solve this problem.

[code]

[2015-01-23 14:29] nraboy commented on #25
A few possible reasons for this:

1. Windows Phone is not supported with Ionic Framework.  With that said, I assume you are going to get a mess of errors.
2. The error lists `x-wmapp0` which leads me to believe you're launching some kind of locally hosted server to test.  Mobile apps need to be tested on the device with a built binary file.

The error is claiming to be related to cordova.js which

[2015-01-23 14:29] #25 closed

[2015-01-27 19:05] jorgeram commented on #13
Hi nraboy, I have a question with linkedin too. I would be very grateful if you could help:

With facebook you only need to pass the clientId and he will return the token back, but with Linkedin how can I obtain the clientSecret from my clientId?

Thanks in advance!
Regards

[2015-01-27 19:09] nraboy commented on #13
Not all Oauth APIs accept implicit grants.  An implicit grant only requires a client id.  For APIs that don't, you'll need to supply both a client id and a client secret.  Both these keys can be found in your providers dashboard (LinkedIn).

[2015-01-27 19:16] jorgeram commented on #13
I've tested passing my secret key (provided by linkedin) and it works!

Thank you very much for your help and your work !! :-)

[2015-01-29 07:37] nagappan opened #26 "Support code string as well apart from access token"
This library just simplified my life, kudos to you.

To integrate with backend like this https://github.com/sahat/satellizer/blob/master/examples/server/python/app.py#L154 we need code as well from client authentication, currently we get only access_token which worked for google+, but not for FB. Can you please return that value as well in ng-cordova-oauth ? Thanks

[2015-01-29 14:21] nraboy commented on #26
The code block you highlighted is for requesting an access token, where `code` represents the request token obtained in the first step of ngCordovaOauth.

There is no need to return code with the access token, because it becomes invalidated when requesting the access token.

I recommend using only ngCordovaOauth or only Satellizer.  Unless of course there is a Satellizer function that only accepts

[2015-01-29 20:43] nagappan commented on #26
I agree with you, in front end, I will use ngCordovaOauth, but in backend I need something like Satellizer, just to make sure the authentication code are in sync.

[2015-01-29 21:07] nraboy commented on #26
I'm still not understanding how this would work.

If ngCordova is generating a token as well as Satellizer, these tokens are not going to match even if you share a request token.

I think you may have to choose either or still.

If you really want the request token from ngCordova you'd have to make your own fork and just add it to the promise.  Not difficult to do, but unfortunately I won't merge

[2015-01-29 22:02] nagappan commented on #26
Let me try to explain again, looks like I wasn't clear at previous attempts:

Satellizer project provides both front-end as well back-end. For Web I'm using their front-end and back-end. For mobile, I have made custom call in the backend to use the access_token received from ngCordova. It works fine with Google+ login, but with FB it fails saying the access_token is invalid for the session. If I g

[2015-01-29 23:01] thereallukesimpson opened #27 "Support for Yammer Oauth"
Please consider adding support for Yammer OAuth:

https://developer.yammer.com/v1.0/docs/authentication
https://developer.yammer.com/v1.0/docs/oauth-2

Might look something like:

$cordovaOauth.yammer(string loginUrl, string clientId);

where loginUrl = https://www.yammer.com/dialog/oauth?client_id=[:client_id]&redirect_uri=[:redirect_uri]
and redirect_uri = http://localhost/callback

[2015-01-29 23:30] nraboy commented on #26
I understand what you're saying, but I just can't see the value.  Maybe I don't see it because I don't use Satellizer.

The request token / code is invalidated after getting the access token.  It would be of no use to Satellizer and has no relationship to the access token.  Just pass Satellizer a random value and it should be the same.

Does this make sense?

[2015-01-29 23:32] nraboy commented on #27
Thanks, I'll look into this

[2015-01-30 00:42] nagappan commented on #26
From my backend, need to serve data, if its also authenticated on the server.

This is the exception being thrown by FB server, if I use the access_token received from ng-cordova-oauth:

{u'error': {u'message': u'An active access token must be used to query information about the current user.', u'code': 2500, u'type': u'OAuthException'}}

Note: I have skipped step1 in that link, doing things from

[2015-01-30 23:00] nraboy commented on #26
I don't know if you've seen this example I made or not:

https://github.com/nraboy/ng-cordova-facebook-example

It uses ngCordovaOauth and works without issue.  I don't know what is happening in your process flow because you shouldn't get access token errors unless the token expired or invalidated.

I don't know Satellizer, but maybe Satellizer is invalidating any previously generated access token

[2015-01-30 23:00] #26 closed

[2015-02-01 08:46] nagappan commented on #26
My bad usage of API, fixed the problem at my end now. Thanks for your time.

[2015-02-01 21:00] nraboy commented on #26
Mind sharing what you changed in case someone else has a similar issue?

[2015-02-02 00:53] nagappan commented on #26
I was passing the token directly as a string, which was my bad part:

Fixed by adding, access_token (following dict) to params;
        access_token = {'access_token': token, 'expires': expires_in}
        # Step 2. Retrieve information about the current user.
        r = requests.get(graph_api_url, params=access_token)

Thanks for your patience, taking time to explain me.

[2015-02-02 02:25] mzarella opened #28 "Google errors with "Cannot authenticate via a web browser""
I was following along with the readme, and this is the snippet of code I'm using to auth with Google:

[code]

The above code always ends up erroring, and here's the output:
[code]

Any advice?

[2015-02-02 02:30] nraboy commented on #28
Yes it means don't use a web browser.  I added that error message to make it obvious to everyone that this library only works on a device or simulator.

Should work fine when you use on a device or simulator.

[2015-02-02 02:42] mzarella commented on #28
I will have to figure out how to debug apps on the phone then (no clue how yet), thanks for your work

[2015-02-02 02:42] #28 closed

[2015-02-02 02:45] nraboy commented on #28
You might check out this post I made on the subject:

https://blog.nraboy.com/2014/12/debugging-android-source-code-adb/

I'm going to close this ticket since there is no problem, but feel free to comment on it if you run into trouble.  Or catch me on Twitter @nraboy

[2015-02-02 02:46] nraboy commented on #26
I'm glad everything worked out in the end :-)

[2015-02-03 23:01] bartello1982 opened #29 "New provider request (Pinterest)"
I have a hard time to add "Pinterest" support by myself. Is there someone more familiar with OAuth who will be able to add it to this great plugin?

[2015-02-03 23:28] nraboy commented on #29
Thanks, I'll take a look and see what is possible.

[2015-02-04 06:23] gzumaglini opened #30 "Please add Trakt.tv support"
Please add support for the Trakt.tv API http://docs.trakt.apiary.io/

I already started this but ran into some problems when posting back the authorization code.

https://gist.github.com/gzumaglini/3cfee13744e8efae7a3c

[2015-02-04 15:39] nraboy commented on #30
Thanks, I'll have a look as soon as time permits.

[2015-02-05 04:13] SduyXD opened #31 "Problems with Foursquare"
I Have this code that works fine on Emulator, but with device doesn't do anything

User.controller "UserController", ($scope, $cordovaOauth) ->
  $scope.CLIENT_ID = "FOURSQUARE_CLIENT_ID"

  $scope.login = ->
    $cordovaOauth.foursquare $scope.CLIENT_ID
      .then (result) ->
        console.log "Response Object -> " + JSON.stringify result
      .then (error) ->
        console.log "Error -> "

[2015-02-05 14:43] nraboy commented on #31
What is the error you get?  Also, what isn't working correctly?

[2015-02-05 18:29] MarcSallent opened #32 "Linkedin returns "Problem authenticating" even when it's returning the token"
Hello,

I am trying to authenticate my users via Linkedin but I always get "Problem authenticating". After digging for a long time, I activated my proxy and I see that in fact I am receiving the correct data and response code in the form of

`{"access_token":"xxxxx x x x xxxx x","expires_in":5183999}`

and I can see the `200 OK` response code in the header.

However, when I log the returned `data`

[2015-02-05 20:16] nraboy commented on #32
So you get an $http response that contains the access token and a problem authenticating message?

Are you using ngCordovaOauth or the version I bundled with ngCordova?  Also any code you can share would be great.

It is a possibility the API changed, but it is unlikely.  Have to see whats up.

Thanks,

[2015-02-05 21:03] MarcSallent commented on #32
I am using the one bundled with ngCordova. I cannot trace the $http response, as it always resolves to .error() with all parameters empty. However, in the proxy, I see the correct (working) token sent by linkedin.

I created a new, blank project following your instructions here http://ionicframework.com/blog/oauth-ionic-ngcordova/ but it doesn't work

I could send my app credentials via private me

[2015-02-05 21:16] nraboy commented on #32
Code would be preferred.  I can use my own credentials to test.

[2015-02-05 21:32] MarcSallent commented on #32
I put my index.html here https://gist.github.com/MarcSallent/c67a49852bf5d5d5d625
and the app.js here https://gist.github.com/MarcSallent/15e91d0cce8fb757c58b

I also uploaded the whole project here https://mega.co.nz/#!aFxiVaQZ!ZGix9QMOFJxUkNCX4wv3JdGKVOP9vR6rUs78VTEKL9o , but that's probably too much

Thanks

[2015-02-05 22:15] nraboy commented on #32
Your app.js is very basic and seems correct.  I'll see about testing this tonight to see if maybe the API changed.

Regards,

[2015-02-07 16:11] arjunblj opened #33 "Problem w/ implementing Venmo OAuth."
I've been trying to implement Venmo OAuth – these are the settings I currently have set:

![screenshot 2015-02-07 11 06 52](https://cloud.githubusercontent.com/assets/1711143/6092732/a5ca663a-aeb9-11e4-8db5-e9867cee0fe5.png)

`app.coffee`, with my routes: https://gist.github.com/arjunblj/626f3be50d9233b9af3c
`controllers.coffee`: https://gist.github.com/arjunblj/f014ba685947cc2e223e
`login.html`,

[2015-02-07 16:13] nraboy commented on #33
Thanks for the ticket.

I know I could do this myself, but to save me some time, can you please link the Venmo Oauth documentation this ticket?

Thanks,

[2015-02-07 16:15] arjunblj commented on #33
Here it is: https://developer.venmo.com/docs/authentication :-)

[2015-02-09 11:18] MarcSallent commented on #32
Hello!
Were you able to take a look at it?
Thanks!

marc

[2015-02-09 14:30] nraboy commented on #32
I haven't had a chance to look at it.  Been very busy, sorry.  Starting tomorrow (2/10) I'll be away from my computer for about two weeks.

[2015-02-10 03:37] SduyXD commented on #31
My error is with the Device.
Device Won't open oauth window it just don't do anything
But with Emulator this code works fine.

[2015-02-10 04:36] nraboy commented on #31
What do your logs say?  If it doesn't work you're going to have errors in your logs.

[2015-02-12 18:28] mzarella opened #34 "code and token needed for google plus"
Hello again. I successfully have this working with Google, but the problem is that the access token expires in an hour. To get around this problem, Google recommends a [hybrid server-side flow](https://developers.google.com/+/web/signin/server-side-flow) *"where a user authorizes your app on the client side using the JavaScript API client and you send a special one-time authorization code to your

[2015-02-12 20:23] SduyXD commented on #31
O.o it seems to be a problem with my routes now its working Ok

[2015-02-12 20:24] #31 closed

[2015-02-13 03:47] nraboy commented on #34
I've set ngCordova to use implicit grants whenever possible since it adheres to the client side guidelines.  This results in a token that expires after time and cannot be refreshed without signing in again.

If you need more information in the request to make it work with your third party tools, I suggest you fork this repository.

Regards,

[2015-02-13 03:48] nraboy commented on #34
Also, access code probably is the same as access token.

All other tokens such as request tokens would be useless to keep.

Regards,

[2015-02-13 03:49] #34 closed

[2015-02-16 19:08] nraboy commented on #32
I just tested again and had no issues.  Can you try using the ngCordovaOauth rather than the version I have bundled with ngCordova?

[2015-02-16 19:15] nraboy commented on #29
I'm trying to find the oauth documentation for Pinterest, but cannot find it.  Are you sure Pinterest offers Oauth endpoints?

Can you link me to the documentation?

Thanks,

[2015-02-17 12:20] bartello1982 commented on #29
Hi Nic,
this is the only thing which I found and I tryied to implement it base on this --> http://wiki.gic.mx/pinterest-developers/

thanks for your time

[2015-02-17 15:56] carloscarcamo opened #35 "strange behaviour on firefoxos"
Hello all, I need some help.

I want to login using a github account but I have an strange behaviour in my app, after I've logged in on github, the app redirects to my index but it seems that the app embeds the index instead of redirecting to it. See the image below.
![firefoxos](https://cloud.githubusercontent.com/assets/2413746/6231108/25e57404-b68a-11e4-8a09-a62fec181344.png)

You can see [here

[2015-02-17 20:23] nraboy commented on #29
It doesn't sound like Pinterest advertises Oauth making this seem a little hackish if it even works.  You sure this is a wise solution?

[2015-02-17 20:30] nraboy commented on #35
See the official documentation for the required InAppBrowser plugin:

https://github.com/apache/cordova-plugin-inappbrowser/blob/master/doc/index.md#addeventlistener

The event listener, an essential component, is not compatible with Firefox OS.

Because of this, my implementation of Oauth will never work for Firefox OS.  The browser flow will always process in error.

Regards,

[2015-02-17 20:31] #35 closed

[2015-02-17 20:46] carloscarcamo commented on #35
Ok. thanks for the info, I will try another way for Oauth!

[2015-02-18 10:50] mrozlukasz opened #36 "Twitter login - No 'Access-Control-Allow-Origin' header is present on the requested resource."
Hi,
I have problems with getting the *$cordovaOauth.twitter* working in my ionic app. The full error message is:
[code]
My config.xml has the following entry:
[code]
Is this a bug, or am I missing something?

ionic version: 1.0.0-beta.14
ng-cordova-oauth version: 0.0.8

[2015-02-18 16:23] nraboy commented on #36
You may want to read this great tutorial by @saimon24:

http://ionicframework.com/blog/displaying-the-twitter-feed-within-your-ionic-app/

I'm sure he'll add some input to this ticket as well.

Regards,

[2015-02-18 19:13] saimon24 commented on #36
1. Are you trying to get it running in your browser? As your Origin seems to be http://mywebsite.com, I am curious how you get that URL when called from a device. Cordova Plugins only work on devices!

2. Have you set the correct credentials inside your app?

3. Have you set http://localhost/callback as Callback URL on your created Twitter App?

If those things don't fix your problem, just provide

[2015-02-19 16:11] mrozlukasz commented on #36
Thanks for quick responces.
A 1. Yes, I'm testing it on my android device with inappbrowser plugin.
A 2. Yes app credentials are ok, double-checked that
A 3. Yes Twitter app has a localhost callback

I'll try to do implement this following http://ionicframework.com/blog/displaying-the-twitter-feed-within-your-ionic-app/
I've already done cordova0auth.google() authentication method, and it is worki

[2015-02-20 10:29] mrozlukasz commented on #36
It occured that Ionic Livereload command:
[code]
caused my problem. Without -l option it works like a charm.

[2015-02-20 10:29] #36 closed

[2015-02-20 15:33] mrozlukasz opened #37 "ng-cordova-oauth is overriding $http.defaults in my application"
Hi,
Today I've found some strange behaviour after triggering some requests.
My app:
* Own backend with such REST methods like
** http://mywebsite.com/api/v1/auth/signin/local/ for sign in to app directly via login/pass
** http://mywebsite.com/api/v1/items/ for authorized users
** http://mywebsite.com/api/v1/items/:item for authorized users
....
* Sign in/up through Twitter/Facebook/Google

The pro

[2015-02-20 17:22] nraboy commented on #37
I just pushed the fix for Twitter since it appears you're using that.  I'll work on the other providers shortly.

Thanks for pointing this out!

[2015-02-20 17:22] #37 closed

[2015-02-20 17:27] nraboy commented on #29
It appears Pinterest no longer supports the Oauth 2.0 functionality.  The documentation has been removed and all third party documentation no longer works.

Closing this ticket.  Sorry,

[2015-02-20 17:27] #29 closed

[2015-02-20 17:28] nraboy commented on #32
Closing this ticket since I cannot reproduce the problem and have not heard from the reporter.

[2015-02-20 17:28] #32 closed

[2015-02-24 05:25] tjsail33 opened #38 "Prevent cannot GET /callback screen from showing"
When returning from the Google OAuth flow, there is a screen that says "Cannot GET /callback" that disappears quickly, however I would like to know if there is a way to make it disappear quicker or if it is possible to display custom text such as "Signing in..." in it's place. That screen looks like an error and isnt anything I would like my end users to see.

[2015-02-24 05:35] nraboy commented on #38
Its a known issue and there really isn't a great solution for it.  At least not one that I've found.

The error flash happens because http://localhost/callback loads quicker than the event listeners can fire.  In the near future I plan to let users override the callback where you can put your own URL, but in this scenario you'd need a hosted solution.

So we are faced with the following:

1. Use l

[2015-02-24 06:15] tjsail33 commented on #38
None off of the top of my head. I was hoping there was a way for Ionic/Cordova to capture calls to that /callback url and just display a given template/text instead, similar to how it serves pages from localhost/index.html.

[2015-02-24 06:22] nraboy commented on #38
You can try it but I'm skeptical.

Just crack open the library file and change the localhost part to reflect what you're after.

If you decide to pursue this, please report back anything you find.  Feel free to fork the project too.

Thanks,

[2015-02-24 09:46] promactkaran opened #39 "Twitter Ouath"
$scope.twitterlogin = function(){
   $cordovaOauth.twitter('my_key','my_secret').then(function(result){
        $log.info("result  "+JSON.stringify(result));
        alert("result" + JSON.stringify(result))
      }, function(error){
           $log.error("error   "+error);
        });
   }

While running this code, I am getting an error "null"
I have set my call back url to : http//localhost/callb

[2015-02-24 14:52] tjsail33 commented on #38
Was looking at your module code this morning, and realized that (at least for google) you no longer need the browser as soon as the load event fires and the url matches, as the event parameter of the event contains the browser url where the auth information is.

What I did was took the `browserRef.close()` out of the timeout, and made it the first line after `if((event.url).indexOf("http://localho

[2015-02-24 14:57] nraboy commented on #39
Have you followed this great tutorial by @saimon24?:

http://ionicframework.com/blog/displaying-the-twitter-feed-within-your-ionic-app/

I haven't received any other reports, but now @saimon24 is included in this issue and I'm sure he'll jump in the help out.

Regards,

[2015-02-24 15:18] nraboy commented on #38
I had it like that in earlier versions of the library, but I kept getting many complaints that it was not working correctly.  The promises in each function were giving less than desirable results.

Nice thoughts though.  And I do appreciate your input :-)

[2015-02-24 15:20] tjsail33 commented on #38
Very interesting. I will keep testing, but from what I have seen the promises are working properly. Any idea where the earlier versions of the library would have promise issues so I can focus my testing?

[2015-02-24 16:17] nraboy commented on #38
I first made this change in https://github.com/nraboy/ng-cordova-oauth/commit/9a029ace009f1c18c21162e859e68c6dbd546070 based on user feedback.  You may want to traverse back one or two commits than this to see how I had it.

Here are few issue tickets on the subject:

https://github.com/driftyco/ng-cordova/issues/544
https://github.com/driftyco/ng-cordova/issues/496

If your thoughts are different

[2015-02-24 16:24] tjsail33 commented on #38
Interesting. My solution is different than the solution you had, and should prevent the issues mentioned above. However, my solution likely will not work for all of the different providers.

https://gist.github.com/tjsail33/dbca5880b5572ec7d1f0

Check out line 16. I moved that out of a timeout after line 27, and up to the top. This way, the callback error only shows for a split second as the windo

[2015-02-24 16:28] nraboy commented on #38
The problem with that is that you'll always trigger a reject promise.  As soon as the browser.close is called, the exit listener is triggered.

If the exit listener is triggered before any other promise, then it is the assumption that the flow was canceled, which is not true.

Does that make sense?

[2015-02-24 16:32] tjsail33 commented on #38
It makes sense, however that is not how it is working. I am using the code in that gist in my development right now, and google authentication is working successfully. the error promise is not resolving on exit.

[2015-02-24 16:36] nraboy commented on #38
I believe that would be because you're fortunate enough to use a first world device and internet connection.

I'm betting you get a success or error response before the exit event processes.  Switch to a slower device or internet connection, and it might not be the case.

I'm on your side.  I never experienced any of the problems reported, but the new logic placed made more sense.

Let me know you

[2015-02-24 16:41] tjsail33 commented on #38
Race condition is definitely possible. I updated the gist above with a new suggest for lines 16/17. Should prevent the triggering of the exit rejection.

[2015-02-24 17:00] nraboy commented on #38
In theory that would fix the problem for any provider that uses implicit grants (response_type=token).  Nice work.  Have you tested this?  If yes, want to make me a pull request so your name ends up on the project as a contributor?  Of course only if you feel this is our best solution over what already exists.

Not sure what to do about the providers like Twitter that don't offer implicit grants.

[2015-02-24 18:01] tjsail33 commented on #38
I'll submit a PR shortly.

[2015-02-24 18:14] tjsail33 commented on #38
Not sure what to do about the other providers that don't used implicit grants, and my current project does not use any of those providers so i will not be experimenting as much as I was in this case.

[2015-02-25 03:16] nraboy commented on #38
Thanks for contributing!

I'm going to close this ticket, but if you one day have a brilliant idea for the other grant types please feel free to contribute again.

Thanks,

[2015-02-25 03:16] #38 closed

[2015-02-25 05:01] promactkaran commented on #39
As it turns out, you have to stop your live reload server, and then continue with your Ouath.twiiter! it would work then. Thanks for the link though!

[2015-02-25 05:02] nraboy commented on #39
Glad you got it working :-)

[2015-02-25 05:02] #39 closed

[2015-02-26 04:13] nraboy commented on #15
I did more fiddling with this idea and I've come to the conclusion it is not a good decision.

The reason the OpenFB library works is because Facebook allows for implicit grant types.  Half of the providers in ng-cordova-oauth don't allow for implicit grants.

I'd rather it be an all or nothing deal otherwise I'm going to get a mess of inquiries with people asking why it doesn't work for such and

[2015-02-26 04:13] #15 closed

[2015-02-26 19:22] psimondk commented on #15
Hi Nic,

Thanks for considering the proposal. I did not do the background checking
that you did.

I get by now with using a oneplus android device and chrome://inspect,
which is an ok solution for most of my debugging needs.

I agree with many of your statements on your Why i've gone hybrid blog and
surely ionic is a vast improvement over its predecessors in the hybrid
space.

All the best,
Palle

[2015-03-03 13:52] ivosabev opened #41 "Support for Spotify"
https://developer.spotify.com/web-api/authorization-guide/

Either that or a way for us to easily add custom implementations.

Thanks!

[2015-03-03 14:02] nraboy commented on #41
Thanks, I'll look into this when I have some spare time.

[2015-03-04 12:10] MrPro100 opened #42 "Support for Odnoklassniki (OK.ru)"
Odnoklassniki, OK.ru is a social network service for classmates and old friends. It is popular in Russia and former Soviet Republics.

Please do Oauth provider for this...Thanks.

[Api documentation](http://apiok.ru/wiki/pages/viewpage.action?pageId=42476300)

[2015-03-04 15:14] nraboy commented on #42
I'm worried I won't be able to help with this one because I don't know Russian.  The API documentation is in English, but I'll still need to create an account and register an application.

I encourage you or someone else to fork this project and add this provider.

Regards,

[2015-03-07 02:27] dragonfire1119 opened #43 "Facebook/Google login stuck on "cannot GET /callback screen" on second browser click."
After signing in and accepting. It sends me back to the callback say "cannot GET /callback". If I click the Done in the browser it brings an alert up saying "The sign in flow was canceled".

[2015-03-07 04:01] nraboy commented on #43
Did you register your Google application as a web app or mobile app?  It needs to be a web app.

The more information you can give me the better since what you provided is very vague.

Thanks,

[2015-03-07 08:48] dragonfire1119 commented on #43
It's a web app. I noticed when there's a second step of the login you get stuck at that screen. Example: when your logging in with Facebook and you accidentally enter the wrong password and it comes back as a error.

Then you try it again with the correct username & password and it accepts it. Then it redirects you to the cannot GET /callback & your stuck there. So you have to close that browser w

[2015-03-07 17:52] nraboy commented on #43
I'll play around with what you described and report back.

Regards,

[2015-03-08 00:40] jonchen92 opened #44 "Upgrade to Graph API v2.x"
I got message when login to Facebook with ngCordovaOauth: You must upgrade this app to Graph API v2.x, v1.0 will be deprecated on April 30, 2015

[2015-03-08 04:19] nraboy commented on #44
Thanks!

As soon as I have time I'll work on a fix.  For technical reference, please see here:

https://developers.facebook.com/docs/apps/upgrading

[2015-03-09 13:48] CaptainYouz commented on #32
Hi guys,

i have the same problem using linkedIn. Did you look into ?
When i try to login with linkedin, the http.post request always go into the error function.

Here is my controller :
$cordovaOauth.linkedin('PUBLIC', 'SECRET', ['r_emailaddress', 'r_network'], '0987654321')
		.then(function (result) {
			console.log('Result', JSON.stringify(result));
		}, function (error) {
			console.log('Error

[2015-03-09 13:59] emgould opened #45 "Error 32 ( Authentication Error ) on $cordovaOauth.twitter"
I have been using ng-cordova-oauth for about 2 months without issue.  However now,  I the token request always returns error 32.  I have verified the client key and secret.  I have looked at what is encoded for the signature.  I have used the same client key/secret using twitter's oauth tool.  Works succesfully with Twitter's generated headers but not the ones from this library.  I am at a bit of

[2015-03-09 14:24] nraboy commented on #45
Hi @emgould

Did you happen to follow this great tutorial by @saimon24?:

http://ionicframework.com/blog/displaying-the-twitter-feed-within-your-ionic-app/

I've not heard any other reports of this error.  Can you do a `console.log` and tell me what the promise rejection response says?

I'm sure Saimon or myself can help you get to the bottom of this.

Regards,

[2015-03-09 14:27] nraboy commented on #32
I don't normally request for this, but can you share with me the clientId and clientSecret you're using?

I want to try to use my code to test against your registered application to see if it is an issue with how you configured your app in the LinkedIn dashboard.

When we're done, you can delete your app and register a new set of keys.

Regards,

[2015-03-09 14:50] emgould commented on #45
Thanks for the help!! I did review the post originally.  Keep in mind.  This is not really new development.  Meaning this has been working without fail for two months in user test.  The log doesn't help much.  Here is what happens when I step through it.  My function calls  $cordovaOauth.twitter(clientId, clientSecret) ... with a valid clientId and clientSecret.  However the initial $http request

[2015-03-09 14:55] CaptainYouz commented on #32
Ok, can i share it with you by email ?
If you dont want to share your email, here is mine : anas.mammeri@gmail.com

Thank you for your help.

[2015-03-09 14:56] nraboy commented on #45
I recently made some changes to Twitter (rumored for the best):

https://github.com/nraboy/ng-cordova-oauth/commit/63109642649438bd4bcc7b48fc9f45cefed5f70f

Instead of using url-encoded parameters, I switched it to standard parameters.  I also changed the header to be local instead of global throughout the application which prevents overlap.

When I tested it had worked fine.

When I'm home I will

[2015-03-09 14:58] CaptainYouz commented on #32
Btw, i also tried the solution you explain in this post : https://blog.nraboy.com/2014/07/using-oauth-2-0-service-ionicframework/

I still have the same error.

[2015-03-09 15:00] emgould commented on #45
Appreciate your help.  This really has perplexed me and actually my code and Saimon code should be the same because the issue is inside $cordovaOauth.twitter  which we are both calling.  So ignore the above stated differences.  As I was comparing the code where a token is already restored from localStorage.

[2015-03-09 15:03] emgould commented on #45
Additionally,  I noticed those changes and I believe I tested it both ways.   Both gave me the same error.  Happy to share my client secret/key in private message.

[2015-03-09 15:05] nraboy commented on #32
I don't use email, so you'd have to put your keys in this issue thread.

Like I said, just regenerate your keys when we're done to prevent unauthorized use.

Regards,

[2015-03-09 15:07] CaptainYouz commented on #32
Ok.
Please tell me when you have it so i can remove it.
public key = 776lurjwiaoo75
secret = mKrIO2Nid0u2h2Fe

[2015-03-09 15:08] nraboy commented on #45
Let me first test on my setup tonight which I've confirmed working in the past and then I'll circle back.  I'll be testing with the latest version of Ionic and the latest version of this library.

Regards,

[2015-03-09 15:09] nraboy commented on #32
I've got them.  I'll test it out tonight when I'm home and circle back.

[2015-03-09 15:09] CaptainYouz commented on #32
Thank you a lot for your time.

[2015-03-09 16:19] emgould commented on #45
Just fyi:  this is output of console:
Failed to load resource: the server responded with a status of 401 (Authorization Required)

The error Object is :  { code: 32, message: "Could not authenticate you" }

[2015-03-09 17:19] emgould commented on #45
I used POSTMan and sent the request by hand and compared the headers generated by Twitter's oauth tool vs ng-cordova-oauth.  The difference seems to be the repetition of "Authorization" in the header parameter name and body.  Unfortunately I can't test more from where I am but by prepending "Authorization:" to the parameter body did result in Postman returning status=200.  Although  I could need v

[2015-03-10 04:15] nraboy commented on #45
This is very odd.

My code which I don't change and was previously working, is now not working.  So I'm wondering what the heck changed in the Twitter API.  Maybe they fixed a bug that was allowing lenient behavior?

I am going to do a bit of digging.  I am definitely stumped though because the authorization header matches what Postman creates and I confirmed Postman is working fine.

[2015-03-10 04:36] nraboy commented on #32
I tried with your keys, scope, and state.  I had no problems.

I have to leave this issue closed because I cannot reproduce the issue.

Regards,

[2015-03-10 12:52] emgould commented on #45
I built the todo app with an attempt to authenticate.  So very basic app.  Same problem.

Code:
angular.module('starter', [
    'ionic',
    'ng-cordova',
    'ngCordovaOauth'])

.run(function($ionicPlatform,$cordovaOauth) {
  $ionicPlatform.ready(function() {
    // Hide the accessory bar by default (remove this to show the accessory bar above the keyboard
    // for form inputs)
    if(window.co

[2015-03-10 13:08] emgould commented on #45
Yeah...crazy.

[2015-03-10 14:43] nraboy commented on #45
The problem is definitely in the following:

[code]

But like you, I did compare the authorization header of ngCordovaOauth with the authorization header generated by Postman and they are the same.  In fact, when I add a print statement to the ngCordovaOauth library to print the header and then paste it into Postman it works fine.

You have any more ideas?  A solution would be so much easier if we

[2015-03-10 15:53] vsanmaster commented on #45
I have the same problem!!

A week ago my application login perfectly with twitter and now not working.
I'm investigating for find of solution!

[2015-03-10 15:58] nraboy commented on #45
The three of us are smart and I know we can come up with a solution.  The more great minds on this problem the quicker we can beat it.

Let us know what you find @vsanmaster

[2015-03-10 16:23] emgould commented on #45
I will continue to look at it but I have been debugging this for a couple of days. Pretty stumped.  It is almost like Twitter doesn't want to allow the particular flavor of the  angular  $http post request.

[2015-03-10 17:34] nraboy commented on #45
Yea I was wondering if Twitter was blocking AngularJS requests, but I don't know how that would even make sense.  What makes the AngularJS post different than the one that Postman is doing?

When I look at the requests they look pretty much the same.

Anyone happen to have a contact at Twitter?  I haven't seen any news on the internet about changes.

[2015-03-10 17:56] nraboy commented on #45
Opened a ticket in the Twitter forums:

https://twittercommunity.com/t/oauth-endpoint-request-token-stopped-working-all-of-a-sudden/33604

[2015-03-11 00:28] dragonfire1119 commented on #43
@nraboy Just wanting to check if you figured this out maybe. Thanks for your time.

[2015-03-11 00:41] nraboy commented on #43
I just tested it and here are the steps I followed:

1. Open application
2. Click login to initiate the cordovaOauth flow
3. Enter incorrect username / password to receive error via Google
4. Enter correct username / password on the same screen that is presenting the error

I received an access token without issue.

If my steps differ from yours let me know.  Otherwise I think you have an issue wi

[2015-03-11 01:40] dragonfire1119 commented on #43
My steps

Facebook
======
1. Login with a failed password.
2. Try to login again with a successful password.
3. Successfully logs in.
2. Redirect back to a white screen then it just gets stuck there.

Google
======
1. Login with a successful password.
2. Goes to the accept the scopes screen.
3. Redirect back to a white screen then it just gets stuck there.

Seems like a second step fails to call t

[2015-03-11 01:43] nraboy commented on #43
Just to confirm.  Your issue happens with both Facebook and Google?  I am confused because the ticket title says Google.

Regards,

[2015-03-11 14:35] nraboy commented on #45
Got it fixed!

[code]

Twitter must have changed something that requires the `oauth_callback` to be passed as a body param, not a query param.

Everything seems to be working.   I will update the Ionic ngCordova module in the coming days.  In the mean time use my ngCordovaOauth module.

Regards,

[2015-03-11 14:35] #45 closed

[2015-03-11 17:06] dragonfire1119 commented on #43
Are you using the ngCordova or your repo file. Because I'm using.

1. ngCordova ~0.1.12-alpha
2. ionic #1.0.0-rc.0

I think the ionic 1.0 is using angularjs 1.3

[2015-03-11 17:09] nraboy commented on #43
I am using the latest version of ngCordovaOauth.

I support both versions (ngCordova and ngCordovaOauth), but because you've posted in my ngCordovaOauth repository rather than ngCordova I assumed you were using that version.

In either scenario, for Google and Facebook, I haven't made any recent changes.

[2015-03-11 17:14] emgould commented on #45
Awesome.  Thanks!  This did force me to embrace a  hybrid model.  I know check to see if there is native Twitter connection available,  if so then I gen the oauth_token from that and store it.  If not I fall back to this libraries approach.

[2015-03-11 17:14] nraboy commented on #43
And yes, I am using the latest version of Ionic, Cordova, and the InAppBrowser plugin.

My assumption is still that you have a configuration issue in your Google or Facebook dashboard.

[2015-03-11 17:15] nraboy commented on #45
There is absolutely nothing wrong with that approach :-)

[2015-03-11 17:39] dragonfire1119 commented on #43
Here's my config on both platforms

Facebook
======
Platform: website
Site URL: http://localhost/callback
Mobile Site URL: http://localhost/callback

Google
======
Platform: Client ID for web application
REDIRECT URIS: http://localhost/callback
JAVASCRIPT ORIGINS: http://localhost/
API: BigQuery API, Debuglet Controller API, Google Cloud SQL, Google Cloud Storage, Google Cloud Storage JSON API , G

[2015-03-11 17:45] nraboy commented on #43
For Facebook you need to specifically set the Oauth callback URL.  Neither of the two you listed are correct.

For Google you need to not set the JavaScript Origins URL.  It is a field that can be left blank and must be left blank for proper usage.

Based on what you provided, my assumption is Facebook doesn't know where to redirect and Google is rejecting requests that don't come from http://loca

[2015-03-11 18:20] dragonfire1119 commented on #43
So I'm guessing the README is not saying put ``http://localhost/callback`` in the website platform Redirect URI your saying put it in the Advanced > Valid OAuth redirect URIs for Facebook?

I took the JavaScript Origins URL and emptied that field.

Both platforms are redirecting me back to the callback. I see the callback white screen just on the second try to login with both of them it just stays

[2015-03-11 20:07] nraboy commented on #43
Are your scopes correct?  My assumption is you're getting more errors in your logs than you think.

Please share your client keys and I'll test them with my code that I've confirmed working.

Regards,

[2015-03-11 20:28] dragonfire1119 commented on #43
Facebook
=====
[code]
Google
======
[code]

[2015-03-11 20:35] nraboy commented on #43
Both worked fine for me using your codes:

[code]

[code]

Maybe your device or simulator is having issues?

[2015-03-11 20:40] dragonfire1119 commented on #43
I've used the Ionic View, Phonegap, Appgyver they both do the same things. I can never get the simulator to come up without failing. I might try it on my android though I'm trying it on my iPhone 6 plus right now. I guess it's something on my end. I'm starting a fresh ionic project right now to see if that one is corrupted maybe.

[2015-03-11 20:42] nraboy commented on #43
To my knowledge the InAppBrowser has issues with the Ionic View.  No idea what Appgyver is, but Phonegap should work if you've set everything up correctly.

[2015-03-11 20:43] nraboy commented on #43
I suggest you use Genymotion over the stock Android simulator.

[2015-03-11 20:49] dragonfire1119 commented on #43
The Phonegap app I have to kill the server to get it not to refresh the app when I open up the InAppBrowser. When I kill the server it seems like the $http doesn't work LOL. Ill try out the genymotion thanks. Seems like problem after problem today with this. Does the genymotion have a console log?

[2015-03-11 20:53] nraboy commented on #43
You need to use ADB with Genymotion:

https://blog.nraboy.com/2014/12/debugging-android-source-code-adb/

It is the closest to a real Android device you can get.

[2015-03-11 23:05] casertap opened #46 "Is there a way to make it work in the browser"
I would like to know if it is possible to perform the authentication with facebook using the browser because I get the error "Cannot authenticate via a web browser".

I am wondering also what is the main difference between the ng-cordova-oauth project and the ng-cordova with the $cordovaOauth plugin?

Thanks

[2015-03-11 23:09] nraboy commented on #46
I am the maintainer of both ng-cordova-oauth and ng-cordova.  Since this is a hobby of mine, ng-cordova gets updated slower because my time is short.

I purposefully added that browser error because it is never going to work in a browser due to the localhost callbacks and lack of control that the platforms offer.

Like I tell most people, you're developing mobile apps not websites.  Don't test you

[2015-03-11 23:09] #46 closed

[2015-03-12 06:48] umbrella-anton-karmazin opened #47 "Support for Stripe.com"
https://stripe.com/docs/connect/oauth

[2015-03-12 13:03] dragonfire1119 commented on #43
@nraboy I got it to work by creating a whole new project & I'm using the simulator now. The Phonegap app doesn't seem to work with your scripts but the sims do. Thanks so much for your help.

[2015-03-12 13:04] #43 closed

[2015-03-12 14:26] nraboy commented on #43
I'm happy we found a working solution!

I think all those other products have problems with the Apache Cordova InAppBrowser.  Beyond the InAppBrowser, the library source code is very simplistic.

Regards,

[2015-03-12 14:29] nraboy commented on #47
Thanks, I'll take a look at this when I have some extra time.

[2015-03-13 00:33] jordanvs commented on #32
I'm experiencing this as well actually, has anyone solved it?

[2015-03-13 00:51] nraboy commented on #32
Can you share how to reproduce?

[2015-03-14 14:45] nraboy commented on #44
Just pushed a change with Facebook 2.0.

Thanks again for reporting it!

[2015-03-14 14:45] #44 closed

[2015-03-14 15:03] nraboy commented on #41
This has been added.  Thanks for making the request :-)

[2015-03-14 15:03] #41 closed

[2015-03-14 17:14] jordanvs commented on #32
Sure @nraboy . I created a new ionic app `ionic start myApp sidemenu`. Changed the following for the app:

- Added the last `angular.module('starter', ['ionic', 'starter.controllers', 'ngCordovaOauth'])` to app.js
- Added ng-cordova-oauth.min.js to www/js
- Added the InAppBrowser plugin
- Added the ios platform
- Added `<script src="js/ng-cordova-oauth.min.js"></script>` to index.html underneath c

[2015-03-15 00:30] nraboy commented on #32
This is a concern.  You should be placing ng-cordova-oauth.min.js above cordova.js not underneath.

Also I encourage you to not use live-reload.  It is known to have issues with the InAppBrowser plugin.  Instead you should do `ionic build ios` and then open the project with Xcode.  From there you should be testing on the device or simulator.

Hopefully that helps.

Regards,

[2015-03-15 00:37] jordanvs commented on #32
Ok I'm going to give it a shot. Thanks Nic.

[2015-03-15 00:42] jordanvs commented on #32
Hey @nraboy thanks for the suggestions. It works now that I have taken your advice. However, I'm still seeing the Not Found webpage (/callback) before it brings me back to my app. But this is a separate issue.

[2015-03-15 00:52] nraboy commented on #32
There is a race condition with providers that have a secret key because the POST requests that happen may not finish before the callback loads.  In this scenario a page not found comes up without hurting functionality.

I've not been able to solve this problem, but I'm open to suggestions.  For implicit grant types, the problem does not exist.

Regards,

[2015-03-16 20:41] #42 closed

[2015-03-18 02:04] cmvee commented on #43
First, many many thanks for your work (and tutorials) on the library!

Just wanted to chime in and say that I've had a similar problem with Google Authentication  (or perhaps it is Ionic or InAppBrowser). Specifically, when running in iOS on a phone (within Ionic View) the app never gets past the screen where you touch "Accept" where Google asks if you approve of the different scopes for which the

[2015-03-18 13:43] nraboy commented on #43
I've heard the Ionic View has a lot of problems with the InAppBrowser.  I encourage you to build and install like you would a native application.

`ionic build ios` then open the Xcode project produced and install it to your device or simulator.

Regards,

[2015-03-18 20:05] Keats opened #50 "Getting 215 from Twitter half of the time"
Hi,

Thanks for the lib, working great for our project.
I have a really weird issue though: we have twitter/fb signin buttons and link buttons if you're logged in and haven't linked your account. The signin buttons work perfectly fine and so does the fb link one.
However, the twitter linking button always fail with the following error:

[code]

This is really odd as I wrapped my use of ng-cordova-

[2015-03-18 20:38] Keats commented on #50
Nevermind I was being silly !
For the people finding that issue, make sure you don't change the Authorization header in your angular config otherwise that will not work (obviously).

[2015-03-18 20:38] #50 closed

[2015-03-18 23:03] dragonfire1119 commented on #43
@cmvee Ya ng cordova works fine in the simulator. You can also run ``ionic emulate ios/android``.

[2015-03-23 13:25] kramer65 opened #52 "How to get the refresh_token?"
I'm using ng-cordova-oauth in my Ionic/Cordova app to authenticate my app users with google. This all works fine, but the response does not provide me with a refresh_token. As I understand it now, it turns out that ng-cordova-oauth

So as far as I understand from [these google oauth docs[(https://developers.google.com/accounts/docs/OAuth2#scenarios) I need to obtain the Authorization code from wit

[2015-03-23 14:47] nraboy commented on #52
Hi,

I don't necessarily recommend using anything but the implicit grant type.  Specially when it is available to you.  The other type of authorization should be kept server side.  For all providers that offer implicit grants, that version has been added to ng-cordova-oauth.

However, if you'd like to go against the grain, I've done a tutorial on this:

https://blog.nraboy.com/2014/07/using-oauth-

[2015-03-23 15:25] kramer65 commented on #52
@nraboy
Thank you for your answer (and thank you even more for creating this awesome lib). I would be happy to only use implicit grant type, but the thing is that my service will be providing server side gmail scraping to extract usable information extracted from the email to the user, and for this I absolutely need the refresh token.

As I understand it I need to save the apiKey and the clientId

[2015-03-23 15:37] nraboy commented on #52
If you still wish to obtain a refresh token, you'll need to store both the client id and client secret in your application.  Honestly, yes this is a security risk:

https://blog.nraboy.com/2014/11/extract-android-apk-view-source-code/

The purpose behind implicit grants is that you are not storing your secret key in the application making it safe even if it is discovered.

I know you probably don'

[2015-03-23 15:56] kramer65 commented on #52
Hi @nraboy, I didn't want to frighten you; I wasn't actually planning to scrape the gmail api from the app, I've got a backend server for that. The thing I'm trying to achieve is simply that the user can authorize us through their app to scrape their gmail. So I won't be actually using the refresh_token within the app, I simply want to obtain it from within the app and send it on to my server (my

[2015-03-23 17:41] nraboy commented on #52
I'd do a hackish solution similar to this:

1. Launch the InAppBrowser to call some page on your web server.
2. The page on your web server redirects to the auth flow using the client id and secret key
3. The web server redirects to `http://localhost/callback` or whatever your app is listening for, while appending maybe an access_token to the URL
4. The app stores the access_token and closes the I

[2015-03-30 09:41] napcat opened #53 "Windows Live Connect support"
Hello guys,

I successfully integrated facebook and google services on my app, but now I also have to integrate Windows Live Connect login service.

Does this plugin support it?

I checked the list of services available and it is not present, a lot are, but not live connect.
Can it be supported? I know Windows was a small market-share, and it's somehow forgotten but some love will be appreciated.

[2015-03-30 11:21] MrPro100 opened #54 "Please merge dev branch to master"
Hi. I add Odnoklasniki provider and you acept my pull request to dev branch. Please merge dev branch to master and pull requested it to ng-cordova. It would be desirable to have everything in one place. Thanks

[2015-03-30 13:30] nraboy commented on #54
Hi,

I have a full-time job that eats up a lot of my availability.  This is a project I do in my spare time as a hobby, so changes happen slowly.

If you don't want to wait for me to have time to merge the changes, I encourage you to merge your changes into ng-cordova.

Regards,

[2015-03-30 13:35] nraboy commented on #53
It is not currently supported, but a quick Google search says that it can be added:

https://msdn.microsoft.com/en-us/library/hh243647.aspx

Since I do this as a hobby in my spare time, I make no guarantees on when I can add this, but I will when time permits.  Anyone contributing to this repository can also take the lead on this particular provider if they want to.

Regards,

[2015-03-30 13:37] MrPro100 commented on #54
No I just thought that you forgot about my pool request ). I'm already added this functionality at current project in the source code for ng-cordova.

Just as much as possible when you have some free time, please drain all in one branch and send poll request to @driftyco . Thanks again for you work :)

[2015-03-30 13:37] #54 closed

[2015-04-01 13:58] napcat commented on #53
Hello nraboy, thank you for your response.

I wanted to help and solve my problem, so I digged into the source code and the Microsoft documentation. I think this could be a solution. I don't know how to make a "check in" here, so if you think the code is ok, you could merge it into the master. It's working on my app... I will let you here a sample code so you could try it.

For the moment I added

[2015-04-01 14:01] nraboy commented on #53
Good job @napcat!

You sure you don't want to be the one to submit this to the project repository?  I wouldn't want to take your credit by doing it for you.

Let me know because I'm fine either way.  Just wanted to give you the opportunity :-)

[2015-04-14 23:51] MyBoon opened #57 "Could not find InAppBrowser plugin"
I've an issue with ng-cordova-oauth that throw an error every time I want to use one of the provider (I tried with facebook and linkedin). Looking at the code, I believe this line is wrong:

[code]

Not sure why this is happening but it looks like the correct slug should be **cordova-plugin-inappbrowser** now (output given by *$> ionic plugin list*).

Let me know if I can help :)

[2015-04-15 00:53] MyBoon commented on #57
So for some reasons I had to install the plugin by doing:

[code]

instead of

[code]

that was giving me an error (repo down?) ...
Issue can be closed since, the **cordova plugin add org.apache.cordova.inappbrowser** is working again =)

[2015-04-15 00:53] #57 closed

[2015-04-15 07:21] alexislg2 opened #58 "Persistent sign in"
Hey,
Thank you for your very useful lib. Works great. But one question:
- how do you handle persistent login? With your plugin, the user has to sign almost each times the app starts. This is a real problem. On the apps I use everyday I just have to sign in once and then it's working fine until I log out.

Any idea to implement this securely?

[2015-04-15 13:43] nraboy commented on #58
You have to store your access_token and expires_in value in local storage and do a check before trying to sign in.  If the token exists and it hasn't expired, bypass the oauth process, otherwise go through it.

Oauth for client facing applications should never use a refresh token.  I have chosen not to include them in my library for security reasons.  Because of this, access_token values typically

[2015-04-15 13:43] #58 closed

[2015-04-15 18:40] MyBoon commented on #32
Got the same problem yesterday. Running the app with browserify was leading to a CROSS error :

[code]

and **Problem authenticating** returned by *ng-cordova-oauth*.

Working like a charm if you build the ionic project and run it on your device.

[2015-04-16 10:00] fno commented on #57
even if i install the inappbrowser pugin the other way i still get this exact error message.

the plugin lists with 'cordova plugin list' just fine but the ng0auth returns for every provider with a "Could not find InAppBrowser plugin"

[2015-04-16 12:44] nraboy commented on #57
Sounds like something is broken in the plugin repository.  You may want to open a ticket with Apache Cordova because both are suppose to point to the same place.

Regards,

[2015-04-16 13:23] inceptivetech opened #59 "dropbox -- what is app key [can we make dynamic]"
Hi,
Thanks for an excellent plugin, I want to use this in my mobile app, however I want to provide my user to push some files on their dropbox, in such cases how app key can be dynamic? do users have to register an app in dropbox first.

Regards,
Suhas

[2015-04-16 14:54] nraboy commented on #59
The app key has no affect on users.  You must register the app you plan on distribute with Dropbox and then users will access their own account with their own credentials.

Regards,

[2015-04-16 14:54] #59 closed

[2015-04-16 15:16] inceptivetech opened #60 "Invalid redirect uri : http://localhost/callback"
Hi,
I am using ionic framework and iOS platform. I have created URL for callback as mentioned.

However I am getting error as invalid redirect uri, Could you please let me know what I am doing wrong.

Regards,
Suhas

[2015-04-16 17:04] Shaolin23 opened #61 "IOS webView:didFailLoadWithError - -1004"
I'm running into an issue with Ionic and logging in via LinkedIn. Inappbrowser opens as expected, but upon logging in via the LinkedIn dialog / page I'm getting the following error:

webView:didFailLoadWithError - -1004: Could not connect to the server.
&
Error -> Problem authenticating

Any thoughts? I'm not doing anything fancy outside of the demo code - here's my payload code:

$scope.loginWith

[2015-04-16 18:36] MyBoon commented on #61
Probably related to #32

[2015-04-16 18:50] Shaolin23 commented on #61
Unfortunately I'm running on device every time - still encountering the error.

[2015-04-16 19:02] inceptivetech commented on #60
upon analysis I changed path with one appears in browser. However URL contains # in it which is causing another error of response_type not present.
I have no idea what is wrong here.

Regards,
Suhas

[2015-04-16 19:28] Shaolin23 commented on #32
I'm experiencing a similar
error - upon submitting email and pass through the login dialog I instantly get "webView:didFailLoadWithError - -1004"

[2015-04-16 20:33] MyBoon commented on #61
odd. Did you try to to provide an empty array for appScope? (so it gonna match how your app is configured on linkedin side).

Also make sure you have **http://localhost/callback** as OAuth 2.0 Redirect URLs.
What did you put as 'JavaScript API Domains'?

[2015-04-16 20:42] Shaolin23 commented on #61
Callback was set to http://localhost/callback.

Here's my code:

  $scope.loginWithLinkedIn = function(){
    var clientId = "key";
    var clientSecret = "secret";
    var appScope = ['r_emailaddress', 'r_basicprofile'];
    var state = "DCEeFWf45A53sdfKef424";

    $cordovaOauth.linkedin(clientId, clientSecret, appScope, state).then(function(result) {
    console.log("Response Object -> " + JSON

[2015-04-16 21:06] MyBoon commented on #61
Try

[code]

and for the domains : **http://localhost/callback,http://localhost/**

[2015-04-17 03:21] inceptivetech commented on #60
I realized my mistake, I haven't configured redirect uri while setting up dropbox app, after setting up it worked fine. closing this issue

[2015-04-17 03:21] #60 closed

[2015-04-17 13:10] nraboy commented on #61
Can you guys confirm the following?:

1. You are **not** testing via `ionic serve` or `live-reload`.
2. You are not using the Ionic View app.
3. You are not using a cloud building service such as Phonegap Build.
4. What version of iOS are you testing with?
5. Are you using a device or simulator?

Thanks,

[2015-04-17 13:16] Shaolin23 commented on #61
Some answers:

1. We're testing using ionic build ios
2. We're not using the view app
3. Not using Phonegap build
4. IOS Version 8.1.3
5. Device (iPhone 5S)

As I was typing this, I was also running a build incorporating MyBoon's suggestions - they worked! (partially). I got the initial 1004 error, but then I got the token return!

I'm guessing this is the race condition described above? I can wor

[2015-04-17 13:23] Shaolin23 commented on #61
Something else to add - not sure if it has anything to do with things.

I updated the inappbrowser plugin to the latest - 1.0.1-dev, and had to update the plugin check id in ng-cordova-oauth.js to 'cordova-plugin-inappbrowser'

[2015-04-17 13:26] nraboy commented on #61
You're not the first person to report this in the past 3 days.

What version is installed when you just run a plain `cordova plugin add org.apache.cordova.inappbrowser`?  If you're using a nightly or beta version of the plugin, I don't yet plan on updating the library to reflect.  Has to be a stable release.

Thanks,

[2015-04-17 13:30] Shaolin23 commented on #61
It installs 0.6.0

Thanks!

[2015-04-17 13:34] nraboy commented on #61
Yea, when Apache updates their plugin repository to reflect the latest version, I will integrate the change.  Until then it will have to remain a manual process for anyone who wants to be bleeding edge.

Sorry about that.

[2015-04-17 14:07] Shaolin23 commented on #61
No need to apologize! Thanks for creating a great product, and prompt attention to our issue.

[2015-04-17 16:11] mypark opened #62 "Error: Could not find InAppBrowser plugin when using in ionic"
followed the instructions in the readme to add the to the project and also added the plugin to cordova using

`cordova plugin add https://git-wip-us.apache.org/repos/asf/cordova-plugin-inappbrowser.git`

 but am getting the error " Could not find InAppBrowser plugin"

[2015-04-17 19:11] Shaolin23 commented on #61
So switching back to inappbrowser 1.0.1-dev broke things again. I'm not really sure what I'm doing wrong. Should I try uninstalling the latest and go back to the ngCordova version (0.6.0)?

What's the best way to clear current plugins and ensure that I'm not leaving residual bits of different versions of inappbrowser around? Remove platform then add?

[2015-04-17 19:24] MyBoon commented on #61
@nraboy Yeah like I said in #32 : "Works like a charm if you build the ionic project and run it on your device." For me, **browserify** was the problem.

[2015-04-17 19:50] MyBoon commented on #62
Try **cordova plugin add org.apache.cordova.inappbrowser** instead.

[2015-04-20 13:24] Shaolin23 commented on #61
Hey MyBoon, can you please elaborate on this? As far as I can tell, I'm no using browserify - unless that's part of the default Ionic IOS build process. Please forgive my ignorance - I'm not very experienced in Phonegap / Ionic apps in general. Thanks.

[2015-04-20 20:49] mypark commented on #62
that did it!

[2015-04-20 20:49] #62 closed

[2015-04-20 21:04] MyBoon commented on #61
@Shaolin23 : [browserify](http://browserify.org/) is a dev tool that I'm using. It's not part of the standard ionic build process. I was just letting know @nraboy what was the source of the problem for me.

[2015-04-22 19:20] nraboy commented on #61
@Shaolin23, I know this is a little further than you probably wanted to go, but have you tried to build it for Android?  If you throw your project on GitHub, I can take a look and see if I get the same results.

[2015-04-22 19:21] #52 closed

[2015-04-23 16:27] asuwend1 opened #64 "Error 32 ( Authentication Error ) on Twitter Search API"
Hi guys,

I have read many threads on this topic, including: https://github.com/nraboy/ng-cordova-oauth/issues/45
and http://blog.ionic.io/displaying-the-twitter-feed-within-your-ionic-app/ but I suspect I might be missing something here. I'm using "ng-cordova-oauth": "~0.1.0" since it should have the latest fix for related problems.

Problem: "Data:  {"errors":[{"code":32,"message":"Could not aut

[2015-04-23 16:35] nraboy commented on #64
Just to confirm.  Using this library you can successfully get an access token?

[2015-04-23 16:39] asuwend1 commented on #64
Hi Nic,
yes, I was able to get an access token which is good enough to get https://api.twitter.com/1.1/statuses/home_timeline.json .
ari

[2015-04-23 16:42] nraboy commented on #64
Unless @saimon24 has any ideas, my Twitter knowledge stops at Oauth, hence why I haven't made an API library.  As long as Oauth works, which you've confirmed, then I'm happy :-)

You may want to ask in the official Twitter forums to see if a bug has been introduced in their API:

https://twittercommunity.com/

Sorry about that.

[2015-04-23 16:45] asuwend1 commented on #64
Hi Nic,
Thank you for your thought. I will post this question at twittercommunity and will link it to this post.
Ari

[2015-04-23 16:53] asuwend1 commented on #64
I have moved this question to twittercommunity: https://twittercommunity.com/t/error-32-authentication-error-on-calling-the-twitter-search-api/36268

Thank you again for the input, Nic.

[2015-04-23 16:54] nraboy commented on #64
No problem.  Please report back if something good happens :-)

[2015-04-24 15:01] jokerxvier opened #65 "Twitter and Instagram Callback URL"
Hi I'm having an issue with the callback after the user login with twitter or instagram it will be redirected to another page that says  "Web page not available The web page at http://localhost/callback/?oath_token=......................" How can i fixed this to not redirect to the callback url or closed automatically inApp after the callback? any help? thanks

[2015-04-24 17:56] nraboy commented on #65
This will always happen for providers that use explicit grants.  It is due to a race condition.  The browser must remain open until the POST request completes, so if the POST request is slow, then the browser will have no choice to display a problem.

The only way around this is by introducing server side code, which many people are not willing to do.

[2015-04-25 04:06] jokerxvier commented on #65
what do you mean by server side cause i'm willing to try the server side..?

[2015-04-25 15:38] kahwooi opened #66 "Could not found InAppBrowser plugin"
I am using ngcordova $cordovaOauth for authentication.

I have added the InAppBrowser:
```cordova plugin add https://git-wip-us.apache.org/repos/asf/cordova-plugin-inappbrowser.git```

I and also using Crosswallk as the browser:
```ionic browser add crosswalk```

But when I debug using Chrome I got this error:
```Could not found InAppBrowser plugin```

```cordova plugin list``` give me this result

[2015-04-25 17:03] nraboy commented on #66
There have been reports that the InAppBrowser plugin does not work correctly with Crosswalk.

Can you try to add the plugin using the following:

[code]

Regards,

[2015-04-25 17:06] nraboy commented on #65
Well, in the $cordovaOauth providers, it doesn't really matter what callback you use as long as you define it.

For example if you set the callback via Twitter and Instagram to http://www.examplesite.com/oauth_callback.html, and oauth_callback.html exists, it will show your page rather than an error message.  You just need to put that same page in the plugin source.

Does that make sense?

Regards

[2015-04-25 18:50] suifengtec opened #67 "Please add WooCommerce support!"
Please add WooCommerce support!

[2015-04-25 21:32] AgentChris opened #68 "facebook login error message"
hi, great job with the plugin , I have a problem though when i test my app with android , ionicview on my android device everything go well, but when i try to run it on ionicview on my ios device i get the following error:
the page you requested cannot be displayed right now.It may be temporarily unavailable, the link you clicked on may be broken or expired, or you may not have the permission to v

[2015-04-26 01:32] jokerxvier commented on #65
hi this fixed my issue with redirection. thanks for the help.

[2015-04-26 01:32] #65 closed

[2015-04-26 01:59] nraboy commented on #67
Can you please link to any WooCommerce Oauth documentation?

Thanks,

[2015-04-26 02:02] nraboy commented on #68
I heard the Ionic View app has issues with the InAppBrowser plugin.  You may want to raise an issue in the Ionic forums or bug tracker.

Building your app with the plugin included will work fine, but you must build it yourself, not with any view app.

Regards,

[2015-04-26 02:02] #68 closed

[2015-04-26 05:23] kahwooi commented on #66
It works by using this plugin:

```cordova plugin add org.apache.cordova.inappbrowser```

[2015-04-27 18:56] LearningTools opened #69 "no data returned"
hi all, I can not login with facebook oauth, I have the following code controller

[code]

when I press the button loguearme with facebook I get the warning callback function of Error,
anyone knows, I am doing wrong?

[2015-04-27 21:45] nraboy commented on #69
What is the error message you receive?

[2015-04-28 00:12] asuwend1 commented on #64
Hi Nic,

Just to update, it seems that this problem is triggered IF the query string contains special character that changes on URL encoding. On further investigation it's because the oauth signature generated by cordova ($cordovaOauthUtility.createSignature) does not match the signature generated by twitter - this mismatch most likely causes this error 32.

[2015-04-28 02:40] nraboy commented on #64
Thanks for sharing.  I wonder what is happening incorrectly with the special characters.

[2015-04-28 09:37] geminiyellow opened #70 "Common OAuth2 support"
hi everyone, i want to use ngCordovaOauth in my project. but , it look link not support common oauth2.
what can i do?

`satellizer` support the common oauth2, but i use ngCordova something other.

@nraboy could you help me add the common oauth2 function?

[2015-04-28 14:15] LearningTools commented on #69
the error is the function alert
function(error) {
            alert("There was a problem signing! See the console for records");

this shows how from my mobile phone when running

[2015-04-28 14:32] nraboy commented on #69
That is your custom error message.  What is the actual error message?

[2015-04-28 14:33] nraboy commented on #70
What provider are you trying to use?  There are around 20 providers as part of ngCordovaOauth that support Oauth 2.0.

Regards,

[2015-04-28 14:39] LearningTools commented on #69
from the browser console me generates this error
Error -> Can not authenticate via a web browser

running the application from my phone shows me the custom alert

[2015-04-28 14:41] nraboy commented on #69
You cannot use this library from a web browser.  It has to be from a device or simulator.

If you are still getting an error from your device or simulator, the error message will be different.  Are you still getting one from your device or simulator?

Regards,

[2015-04-28 14:46] LearningTools commented on #69
if from my device not only shows the authentic custom error message

[2015-04-28 14:47] nraboy commented on #69
You're going to have to dig into your ADB logs if you want to see the actual message.  Only your custom message will appear in the alert.

https://blog.nraboy.com/2014/12/debugging-android-source-code-adb/

Regards,

[2015-04-28 14:51] LearningTools commented on #69
o.k thanks for the help

[2015-04-28 15:07] #66 closed

[2015-04-28 15:07] #69 closed

[2015-04-28 15:29] geminiyellow commented on #70
@nraboy first thanks for your work. i knew there are over 20 providers, but if it not in your list, e.g. #67 , #53 , #30 , #47 ... i must wait until you add something. can not add something more common? and i think your there are lots of same code in your source. if you can create a `ngCordovaOauth2Utility ` like [ngCordovaOauthUtility](https://github.com/nraboy/ng-cordova-oauth/blob/master/ng-cor

[2015-04-28 15:59] nraboy commented on #70
This is only a side project of mine.  I'd love for you to contribute to the library as well if you've got more time than me :-)

Otherwise, you'll have to wait on my schedule or until someone else jumps in.

Regards,

[2015-04-28 16:48] geminiyellow commented on #70
@nraboy oh, sorry for my rude, got it , i will try it later.

[2015-04-29 21:46] Takkuz commented on #57
It's not a Cordova fault:
Installing with `cordova plugin add https://git-wip-us.apache.org/repos/asf/cordova-plugin-inappbrowser.git`
Gives version **1.0.1-dev**.
Installing with `cordova plugin add org.apache.cordova.inappbrowser`
or the new `cordova plugin add cordova-plugin-inappbrowser`
Gives version **1.0.0**

ngCordova Oauth isn't able to find any of both.
Problem is on check plugin existen

[2015-04-30 05:28] AlMon opened #71 "Instagram Auth Issue"
I'm currently developing an app for a client and he's getting an insider's view throughout the process thanks to Ionic View. Amazing how you can do this! But in any event, this app requires access to the Instagram API. I'm now setting up the log in screen, I tested it on Android and it seemed to be fine, but my client tested it on his iPhone and iTouch and wasn't able to tap the "Authorize" button

[2015-04-30 13:36] blvz commented on #57
+1
I've had to create a fork.

[2015-04-30 14:30] nraboy commented on #57
I'm aware of this, but I haven't had a chance to jump in and fix it.  This is only a side project of mine.  Should have time this weekend.

[2015-04-30 14:31] nraboy commented on #71
The Ionic View has issues with the InAppBrowser plugin that ngCordovaOauth relies on.  I recommend you only test with a compiled version of the application, whether it be Android or iOS.

Does this help?

Regards,

[2015-04-30 14:37] blvz commented on #57
No problem, mate. :wink:

[2015-04-30 14:48] AlMon commented on #71
That was my suspicion. Oh well, I'll have to make do some other way. Thanks for the help!

[2015-04-30 14:48] #71 closed

[2015-04-30 17:48] TheBosZ commented on #66
It's actually because of the name change with latest Cordova. They're changing all the plugins to a different naming scheme. I'm going to submit a pull request allowing the change.

[2015-05-01 09:54] Takkuz commented on #57
Don't worry... Just sayin' it because I'm a beginner on GitHub. :stuck_out_tongue_winking_eye: Thanks.

[2015-05-04 23:11] joshbuchea commented on #57
Latest version of InAppBrowser Plugin was causing issues for me also. Installing as @Takkuz suggested resolved my issues.

[2015-05-05 02:06] nraboy commented on #57
I pushed a fix to the master.

[2015-05-05 02:06] #70 closed

[2015-05-05 02:07] blvz commented on #57
Thanks a bunch, @nraboy.

[2015-05-07 16:16] LearningTools commented on #57
Hi all I have to do to run me I still get the error console InAppBrowser Could not find plugin

[2015-05-07 18:37] nraboy commented on #57
How are you installing the InAppBrowser plugin?

[2015-05-07 22:48] LearningTools commented on #57
cordova plugin add https://git-wip-us.apache.org/repos/asf/cordova-plugin-inappbrowser.git

[2015-05-08 00:38] nraboy commented on #57
Does it work if you do this instead?:

[code]

Thanks,

[2015-05-08 14:11] LearningTools commented on #57
o.k I try to be like me going

[2015-05-08 15:10] LearningTools commented on #57
hello, now displays an error when you press the button

![captura de pantalla de 2015-05-08 10 04 51](https://cloud.githubusercontent.com/assets/4220068/7539122/52435222-f56a-11e4-8209-07c497475a32.png)

[2015-05-08 15:14] nraboy commented on #57
I'm wondering if you're running to the problem people are reporting with the latest Apache Cordova release.  Some have reported that they are blocking remote hosts if you don't use their plugin.

Can you tell me if you get the same results when you copy the link from the simulator and paste it into your web browser?

Thanks,

[2015-05-10 13:41] JBKaloya opened #73 "No redirect with Foursquare"
Hello !
I'm using a button to log-in with Foursquare on my IOS app built with Ionic, here is my code

$cordovaOauth.foursquare("CLIENT_ID", ["email"]).then(function(result) {
    console.log("Response Object -> " + JSON.stringify(result));
}, function(error) {
    console.log("Error -> " + error);
});

The problem is that the login window appears but when I enter my username and password nothing h

[2015-05-10 15:17] nraboy commented on #73
What do your error logs say?

[2015-05-11 02:40] nraboy commented on #53
Added this to the development branch.  Will be pushed to the master with other stuff.

https://github.com/nraboy/ng-cordova-oauth/commit/49aa3a17166167026f84e389a90894158cb9768e

[2015-05-11 02:40] #53 closed

[2015-05-11 02:51] nraboy commented on #27
@thereallukesimpson

Can you please test this.  I've pushed Yammer support to the development branch of this project.

https://github.com/nraboy/ng-cordova-oauth/commit/50ee97643ec71b2ad19e18397466805cfe46a274

When you test it and confirm it works, I'll push it into the master.

Thanks,

[2015-05-11 03:01] nraboy commented on #33
Hi @arjunblj

I just added Venmo to the development branch:

https://github.com/nraboy/ng-cordova-oauth/commit/7e4cc326771b706d7e9c8904c6218929ecfd8851

Can you please download the development branch, test it, and get back to me if it works.  It should.

Also, you cannot use `ionic serve` with this library.

Thanks,

[2015-05-11 03:31] nraboy commented on #47
Hi @umbrella-anton-karmazin

I added Stripe support to the development branch:

https://github.com/nraboy/ng-cordova-oauth/commit/ad79be267db13f179dab2dcad2756f71ccc0e9ce

Can you please download, test, and report back?

Thanks,

[2015-05-11 14:46] MWaser opened #74 "Google OAuth2 is hanging after final button click"
InAppBrowser starts up correctly calling the following URL:

https://accounts.google.com/o/oauth2/auth?clientid=371315153373-024ti04td3d2biggn7h55n3bkh1s92cv.apps.googleusercontent.com&redirect_uri=http://localhost/callback&scope=email&approval_prompt=force&response_type=token

and showing the "<Application> would like to " screen (with the Cancel & Accept button)

Hitting Accept will cause InAppB

[2015-05-11 14:51] nraboy commented on #74
I think you mentioned this on Twitter, but for documentation purposes can you please provide the following:

1. What platform(s) does this fail on?
2. What platforms(s), if any, does this succeed on?
3. Are you testing using a device or simulator?
4. Are you using ionic serve, ionic live-reload, or ionic view?
5. How are you installing the InAppBrowser?
6. Are there any errors while it is hung up?

[2015-05-11 15:02] MWaser commented on #74
1. It fails on Windows Phone (native) and iPhone6 (Ionic View).
2. It works on Kindle (both native and Ionic View).
3. Always devices :-)
4. Ionic view for the iPhone and Kindle.  Visual Studio for the Windows Phone.  Also Ionic build for the Kindle.
5.  I've tried several different ways.
cordova plugin add cordova-plugin-inappbrowser installs version 1.0.0
cordova plugin add https://github.com/ap

[2015-05-11 15:04] MWaser commented on #74
By the way, it would be awesome if there were a complete sample project that could be downloaded that was known to work . . . . then either it doesn't work on my set-up or I could alter things line-by-line to resemble my code until it broke (and thereby told me what my problem was . . . .

[2015-05-11 15:32] nraboy commented on #74
Here are two working projects I have on GitHub:

https://github.com/nraboy/ng-cordova-facebook-example
https://github.com/nraboy/ionic-imgur-app

In regards to the things you've told me.  Do not use Ionic View.  It has limited to no compatibility with this library due to strange behavior with the InAppBrowser plugin.  Can you try building your project and then installing it to your device?

Thanks

[2015-05-11 15:46] MWaser commented on #74
Oomph.  I'd have to buy a Mac then to build for iPhone, wouldn't I?  I could do that if necessary but . . . . do you know of any other way?

[2015-05-11 15:56] nraboy commented on #74
I wouldn't recommend going against the grain.  Build systems like Phonegap Build or Ionic View have too many limitations when it comes to plugins.  They work great for apps with no plugins, but not with.

I don't have any good suggestions beyond, buy a Macbook Air or Mac Mini.

Sorry,

[2015-05-11 17:03] MWaser commented on #74
So . . . . any clue on the Windows Phone 8?

[2015-05-11 17:40] JBKaloya commented on #73
The problem is that I launch my app on Ionic View so I can see the error logs. But the problem isn't coming from Foursquare because my app redirect URL are correctly set.

[2015-05-11 17:44] nraboy commented on #74
I don't have access to any Windows Phone development tools (I'm an Android owner on a Mac).

If I had you try a few things, would you be able to for me?  Ionic doesn't support Windows Phone, but this doesn't seem like an Ionic issue.

Let me know your willingness level and we'll see what happens.  Success may be out of our control in the long run, but it doesn't hurt to try.

Thanks,

[2015-05-11 17:46] nraboy commented on #73
The Ionic View has problems with the InAppBrowser plugin that this library depends on.  I recommend you build and install directly to your device or simulator.

Let me know how that goes for you.

Regards,

[2015-05-11 17:52] MWaser commented on #74
I'm getting into this for the long haul, so . . . . yes, I'm willing to try a lot of things.

[2015-05-11 20:07] chrisschaub opened #75 "Was working, now returning nothing"
So, it was all working a week ago in the device sim. I'm using the ngCordova one. And now, I authenticate, see the scopes for google, and then the screen goes away and i'm back to my app. Not a whitescreen, just back to screen with button that launched the in-app browser. Except that the response does not get returned. Is the ngCordova version more up-to-date or is this repo? Also, which inappbrow

[2015-05-11 20:35] nraboy commented on #75
That is strange.  I wonder if Google changed their APIs a bit.  Do you get any error messages?

ng-cordova-oauth will always be more up-to-date than ng-cordova.  Since it is just a side project of mine, it often becomes difficult to keep them both in sync.

Let me know.

Thanks,

[2015-05-11 20:36] chrisschaub commented on #75
No error messages. Nothing, and it was working, no errors. Can I use
ngCordova along with ng-cordova-auth? Will there be any issues with the
injected object name being the same?

On Mon, May 11, 2015 at 3:35 PM, Nic Raboy <notifications@github.com> wrote:

--
Christopher Schaub
http://chris.schaub.com

[2015-05-11 20:41] nraboy commented on #75
I think you're going to get naming conflicts if you try to use them both.  Can you answer the following:

1. What platform(s) is it failing on?
2. What platform(s), if any, is it succeeding on?
3. How did you add the InAppBrowser to your project?
4. Are you trying to use Ionic View, Ionic Serve, or Ionic Live-Reload?
5. What version of Apache Android or Apache iOS are you using (not Apache Cordova

[2015-05-11 20:43] nraboy commented on #74
I'm getting quite a few reports of InAppBrowser shenanigans today.  I fear they changed something again.

Let me play around with some stuff tonight when I'm at my personal computer and I'll report back.

See https://github.com/nraboy/ng-cordova-oauth/issues/75 for reference.

[2015-05-11 20:45] chrisschaub commented on #75
1. I'm using ionic emulate (ios device simulator)
2. None now, but it was working on ios in the simulator.
3. I added with cordova plugin add org.apache.cordova.inappbrowser which
gets around the thread/issue of it not being found.
4. None of those. I get that it has to be on a device or sim.
5. Apache iOS? Not sure what you mean.

Thanks!

On Mon, May 11, 2015 at 3:41 PM, Nic Raboy <notifications

[2015-05-11 20:50] nraboy commented on #75
I believe you want to run the following:

[code]

Should tell you which version of Apache Cordova for iOS your project is using.  Creating a fresh project will always grab the latest version, but for legacy projects, the Apache version doesn't change unless you force it.

https://cordova.apache.org/docs/en/4.0.0/guide_platforms_ios_upgrade.md.html#Upgrading%20iOS

Let me know.

Thanks,

[2015-05-11 21:16] chrisschaub commented on #75
Ahh, sorry. 3.8.0.

On Mon, May 11, 2015 at 3:50 PM, Nic Raboy <notifications@github.com> wrote:

--
Christopher Schaub
http://chris.schaub.com

[2015-05-12 00:47] nraboy commented on #75
Hey @chrisschaub

I just did some experimenting:

1. Update NPM, Cordova, Ionic
2. Create fresh Ionic project via `ionic start IonicAuthTest blank`
3. Add Android and iOS platform via `ionic platform add android` and `ionic platform add ios`
4. Install the InAppBrowser plugin via `cordova plugin add org.apache.cordova.inappbrowser`
5. Set up ng-cordova-oauth via the instructions
6. Build for Andro

[2015-05-12 00:49] nraboy commented on #61
Please see the following:

https://github.com/nraboy/ng-cordova-oauth/issues/75#issuecomment-101083345

I got that error, but it seems to have no negative effect on the authentication process.

[2015-05-12 00:51] nraboy commented on #74
Please see the following:

https://github.com/nraboy/ng-cordova-oauth/issues/75#issuecomment-101083345

I've concluded that there are no issues with the current InAppBrowser plugin for Android and iOS.  Not sure on Windows Phone yet.

Will keep you posted.

[2015-05-12 01:04] nraboy commented on #5
Hey @ogomezm

I added Rally support to the latest development branch.  Can you download, test it, and report back as to whether or not it works for you?

https://github.com/nraboy/ng-cordova-oauth/commit/13776453ffcdc4878987169cf376dae50f6db56d

Thanks,

[2015-05-12 03:29] chrisschaub commented on #75
Thanks a lot for doing that run down! I am using ng-cordova, but I'll try
to switch to ng-cordova-auth and see if that's the fix.

On Mon, May 11, 2015 at 7:47 PM, Nic Raboy <notifications@github.com> wrote:

--
Christopher Schaub
http://chris.schaub.com

[2015-05-12 08:06] ogomezm commented on #5
Sure, I will test it this evening.

On Tue, May 12, 2015 at 3:04 AM, Nic Raboy <notifications@github.com> wrote:

[2015-05-12 12:51] MWaser commented on #75
Nic,

Could I get a copy of your Google test code?

Also, which simulators do you use/recommend?  (I thought that simulators were a bad idea when testing plug-ins -- am I incorrect in that?)

Thanks!

     Mark

[2015-05-12 14:28] nraboy commented on #5
Thanks!

[2015-05-12 14:33] nraboy commented on #75
I will upload my testing code to GitHub tonight or tomorrow.  You'll see it really isn't much of anything.  Just a bunch of buttons that call functions that include provider calls.

I use Genymotion for Android because it has significantly better performance than the stock Android simulator.  Both are valid simulators for testing since they mimic the actual device.

For iOS, I use Xcode.  I genera

[2015-05-12 15:09] MWaser commented on #75
In regards to versions . . . . PRECISELY!  The fact that there are so many different versions potentially all interacting . . . .

I'm biting the bullet and buying a Macbook Pro either today or tomorrow.  Any advice?

[2015-05-12 15:20] nraboy commented on #75
I code on a three year old Macbook Air 13" most of the time.  I also have a 27" iMac that I picked up a few months ago.  If you're really serious about developing on a Mac, I'd probably recommend a 15".  Sometimes I wish I had more screen on my laptop.  Spec-wise, even the lower ends should be sufficient for hybrid development.

When it comes to versions.  I just let people report issues.  I don't

[2015-05-12 16:55] MWaser commented on #75
:-)  I think that I have no choice but to develop on a Mac if I wish to support iPhone (is there another way to do it *effectively*)?  I was thinking of going with the 15".  I'm never happy with the amount of screen but 17" ends up being too heavy and bulky to travel . . . . (and at home I can always plug into a bigger screen -- I assume . . . . )

[2015-05-12 17:28] nraboy commented on #75
I don't know of any better way.  Sorry :-(

[2015-05-12 17:55] MWaser commented on #75
It's not your fault (and the confirmation was very helpful/reassuring).  Off to spend money I don't want to spend . . .  :-(

[2015-05-12 18:13] nraboy commented on #75
Look at it this way.  Getting a Mac will improve your productivity as a developer, stretching way beyond app development.  Native SSH, Git, etc.  A big purchase with a learning curve, but you'll like it in the end.

@chrisschaub let me know when you've given it a test.

Thanks,

[2015-05-14 21:18] #73 closed

[2015-05-14 21:18] #61 closed

[2015-05-14 21:18] nraboy commented on #5
Did you get a chance to test it?

[2015-05-14 21:19] nraboy commented on #75
Closing this ticket because it seems to be a non-issue.

[2015-05-14 21:19] #75 closed

[2015-05-15 08:49] ogomezm commented on #5
I tried to test it but I could not finish it.
Let me try to finish it this weekend.

I promised to test it but I am just preparing a concert for next Friday
22nd of May and I am a bit crazy with all that.

If you plan to visit Barcelona, let me know, I can give you some tickets
for free.

On Thu, May 14, 2015 at 11:18 PM, Nic Raboy <notifications@github.com>
wrote:

[2015-05-15 14:13] chocksmith commented on #43
I have been struggling with this for 2 or more days.
It just do not work. I get stuck on the "cannot GET /callback" screen, no matter what.

I am trying Facebook login.

My setup:
- Site URL: http://localhost/callback
- Mobile Site URL: http://localhost/callback
- Ionic: 1.4.1
- I ran:

            cordova plugin add org.apache.cordova.inappbrowser
            cordova plugin add cordova-plugin-whi

[2015-05-15 14:18] nraboy commented on #43
What does the console.log error message show?

[2015-05-15 14:21] chocksmith commented on #43
Nothing relevant, I believe:

    2015-05-15 11:20:25.015 CasaDoBicho[2416:416771] Apache Cordova native platform version 3.8.0 is starting.
    2015-05-15 11:20:25.016 CasaDoBicho[2416:416771] Multi-tasking -> Device: YES, App: YES
    2015-05-15 11:20:25.018 CasaDoBicho[2416:416771] Unlimited access to network resources
    2015-05-15 11:20:25.701 CasaDoBicho[2416:416771] Resetting plugins due t

[2015-05-15 14:49] chocksmith commented on #43
Being more precise.
The log I posted was the emulator's log.
For some reason, it does not show the error shown by the second alert(), which is "Problem authenticating".

Running at the device, the Xcode console shows more information. It shows:

    webView:didFailLoadWithError - -1004: Could not connect to the server.

It makes no sense for me.

[2015-05-15 15:59] chocksmith commented on #43
I solved!! The problem is not the ngCordovaOauth.
What was happening is that Facebook was returning an error code instead of the access_token.

May I suggest changing:

                    deferred.reject("Problem authenticating");

for:

                  if ((event.url).indexOf("error_code=100") != 0)
                    deferred.reject("Facebook returned error_code=100: Invalid permissions");

[2015-05-15 16:44] nraboy commented on #43
I assume you tested this and it works.  Want to submit a pull request so you get credit?

[2015-05-15 17:23] chocksmith commented on #43
Yes. It works. Thanks very much.
Sure, I will do it.
Tks

[2015-05-15 21:13] MWaser commented on #74
So . . . . I've got the Macbook set up (finally!) . . . .

The good news is . . . . the iOS Google OAuth is working just fine (regardless of whether I'm using the newest ngOauth or an older ngCordova with the all instances of org.apache.cordova.inappbrowser changed to cordova-plugin-inappbrowser).

The bad news is . . . . exactly the same code is not working for Windows Phone (necessarily compiled

[2015-05-15 21:26] nraboy commented on #74
Makes me wonder if InAppBrowser has some faults for Windows Phone.  Or instead of faults, maybe differences that need to be accommodated.

Hopefully with your new Mac, you're still experiencing a major positive from everything.

I'm moving this weekend, but as soon as things settle down, I'll spend a little time researching Windows Phone.  I of course won't be able to test anything myself, but may

[2015-05-15 21:56] MWaser commented on #74
As a Windows guy, I'm required to kvetch about having to use a Mac -- but there's nothing that's been intolerable :-)

The way Visual Studio (2013 since 2015 is still in beta) handles plug-ins is pretty FUBAR (i.e. it either loads really old versions -- 0.52 for InAppBrowser -- if you select the "Core" version or the bleeding-edge dev versions if you use the "Custom" version which wants a Git addr

[2015-05-16 20:40] seiyria opened #77 "ability to specify compact page for reddit oauth"
from [their oauth guide](https://github.com/reddit/reddit/wiki/OAuth2):

`Note: Use /api/v1/authorize.compact? for a page that's friendlier to small screens.`

Currently you get something that looks like [this](http://puu.sh/hPJvk/e9c6cac7b4.png) if you aren't using the compact auth. I can submit a PR if necessary.

[2015-05-21 02:29] nraboy commented on #77
My time is very tight right now.  I'd love it if you submitted a PR!  Please make sure you submit to the development branch.

Thanks!

[2015-05-21 08:04] KrzysiekF opened #79 "Support for Envato API"
Hello,
Can you please add support for new Envato API (https://build.envato.com/)?

Thank you for this great plugin! :)

Regards,
Krzysiek

[2015-05-22 03:44] RylanGotto opened #80 "LinkedIn returning 404"
Hi, thank you so much for all the great tutorials and contributions!

I am having some trouble retrieving the request token from LinkedIn mentioned in step 3 here https://developer.linkedin.com/docs/oauth2 . All key values are set properly and I can confirm that the correct data is making it to the server. As well, an extra key value pair named 'state' that is not required in the documentation is

[2015-05-22 20:09] RylanGotto commented on #80
curl -H "Content-Type: application/x-www-form-urlencoded" -X POST -d "grant_type=authorization_code&code=AQTwp-Ue_gORgUJp8B9wVX07ponpAicFVteGzsZ9z2xybtXZe1ysD7O2hnhlqn430ZuAM8CvAY1KUTaWEVJ49v_qK_A20QVQhX3bP_ecoOLD2RU66dA&redirect_uri=http://localhost/callback&client_id=*********&client_secret=**********" https://www.linkedin.com/uas/oauth2/accessToken

I am able to retrieve the toke with the curl

[2015-05-22 20:09] RylanGotto commented on #80
$http.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
        $http.defaults.headers.common['Access-Control-Allow-Origin'] = 'http://localhost:8100';

        $http.post("https://www.linkedin.com/uas/oauth2/accessToken", retrivalData)
        .success(function(data) {
            //deferred.resolve(data);
        })
        .error(function(data, status) {
            /

[2015-05-22 20:10] RylanGotto commented on #80
and for whatever reason I get a 404 Page not found when using the LinkedIn ngcordova oauth library.

                           $http.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                            $http.post("https://www.linkedin.com/uas/oauth2/accessToken", retrivalData)
                            .success(function(data) {

[2015-05-22 22:45] nraboy commented on #80
Try to install the new whitelist plugin.  The latest Apache Cordova blocks all outbound requests by default.  I am publishing a blog post on the topic next week.

[2015-05-23 02:44] kirankc commented on #80
Nic, I am getting 404 trying to authenticate with Twitter.  Are you aware of any issues? Would installing the new whitelist plugin resolve the issue with Twitter too?

[2015-05-23 16:41] nraboy commented on #80
I'm glad you got it working.  I have a post on the topic publishing on Monday.

Regards,

[2015-05-23 16:41] #80 closed

[2015-05-23 19:51] RylanGotto commented on #80
Thanks so much, got it working, I will be looking out for that blog post.
Thanks a lot again for all your great info.

[2015-05-24 17:38] #47 closed

[2015-05-24 17:39] #33 closed

[2015-05-24 17:39] #27 closed

[2015-05-24 17:40] #5 closed

[2015-05-27 12:03] sameera207 commented on #57
Had the same issue, finally @nraboy s last suggested command worked :+1:

`cordova plugin add org.apache.cordova.inappbrowser`

thanks heaps for all.. :smile:

[2015-05-28 14:06] thqnhat opened #81 "ng-cordova-oauth with Office 365"
Hi nraboy,

I'm interested in your work. It's really cool.

Now, I work with Office 365 API and had the problems when the redirection url  returned.
On mobile, it don't know how to resolve it (for display pop-up prompt) (link: https://github.com/auth0/auth0-ionic/issues/8)

I tried to use auth-dialog with an InAppBrowser custom for resolve it but it not work correctly.

So, can I use ng-cordova-oa

[2015-05-29 07:41] developerlaoz commented on #57
WARNING: org.apache.cordova.inappbrowser has been renamed to cordova-plugin-inappbrowser. You may not be getting the latest version! We suggest you `cordova plugin rm org.apache.cordova.inappbrowser` and `cordova plugin add cordova-plugin-inappbrowser`.

Waiting for ngCordova Update?

[2015-05-29 08:00] developerlaoz commented on #57
It seems ng-cordova-oauth@0.1.2 already fixed it.

[2015-05-29 20:23] nraboy commented on #81
Is Office 365 the same as Windows Live?  If yes, then it is currently supported.

If it is not the same, please find me the Oauth documentation for Office 365 and add it to this comment.  Then I'll do my own research after that.

Thanks,

[2015-05-29 20:28] #77 closed

[2015-06-02 21:24] thco opened #84 "Digital Ocean Api v2 ?"
Hi there.

I just wonder if you plan to update Digital Ocean to v2 ?

Thanks :)

[2015-06-03 23:07] nraboy commented on #84
Please link me to the documentation regarding version 2 of the oauth endpoints.

Thanks,

[2015-06-04 09:38] thco commented on #84
Hi !

I'm sorry, I did not check the doc before posting that :/ OAuth still use a v1 endpoint, even on v2.

I close, my bad.

[2015-06-04 09:38] #84 closed

[2015-06-04 12:39] nadeemkhan commented on #28
hi Nic i'm using device still getting this error "Cannot authenticate via a web browser" please have look log below thanks.

06-04 18:05:10.150    8879-8879/com.ionicframework.c826084 I/chromium﹕ [INFO:CONSOLE(62)] "Cannot authenticate via a web browser", source: file:///android_asset/www/js/controllers/controllers.js (62)

[2015-06-04 12:57] nraboy commented on #28
Are you using ng-cordova or ng-cordova-oauth?

[2015-06-04 20:23] nadeemkhan commented on #28
i'm using ng-cordova-oauth actually i'm new in ionic please help me out thanks

[2015-06-05 14:19] nraboy commented on #28
Few questions:

1. Are you using Crosswalk in your application?
2. How are you adding the InAppBrowser plugin?
3. Are you using Ionic Serve, Ionic Live-Reload, or Ionic View?
4. Is this error happening on a device or simulator?

Regards,

[2015-06-05 18:21] nadeemkhan commented on #28
1. Nope
2. i just added "cordova plugin add https://git-wip-us.apache.org/repos/asf/cordova-plugin-inappbrowser.git" via command in my project root directory
3. it's working on ionic server and did't checked yet on ionic view i'm using Android Studio on mac
4. this happening coming on my android device.

[2015-06-07 00:42] nraboy commented on #28
Don't use Ionic Serve, Ionic View, or Ionic Live-Reload.  They are known to have compatibility problems with the InAppBrowser plugin as indicated in the README.

Regards,

[2015-06-08 18:34] dcbartlett commented on #58
This problem with this is that Google gives back a TTL of 3600, this is VERY short for a "native" app.  Most app developers what to have "persistent" login experience for the user.  Without having a "refresh token" we can't ask google for a new auth token to use the API without asking the user for their credentials again.

[2015-06-08 18:42] nraboy commented on #58
Storing a refresh token in a client facing application is a very bad idea.  This is why implicit oauth grants were created for JavaScript and similar scenarios.

If you don't care about user security, you should be able to change the library pretty easy to use Google's explicit grant option.  If you care about user security, then the 3600 is the price to pay.  Otherwise introduce your own middlema

[2015-06-11 00:53] flagthrow opened #90 "Magento returns empty error during the authentication"
Hello,
I'm experiencing strange behaviors with Magento Authentication.
I'm using ngCordovaOauth and I've tried ngCordova as well but every time I try to authenticate I receive an empty alert. (the $http response is ok)

Did u experience similar problems with magento?

Thank you for your reply
Giuseppe

[2015-06-11 04:49] nraboy commented on #90
What do the logs say? It should return an object even if there is an error.

Paste the full ADB logs please.

[2015-06-14 12:04] Ajeetlakhani opened #91 "Add Native app detection and login in ngCordova-oauth"
ngCordova-oauth is a great plugin allows 20+ different oauths but it does not use their native apps to login. It always open a web view to login.

For example- If i have already login in my gmail account or google play services then ngCordova-oauth should detect and give an option to login in my app rather then opening gmail in  webview everytime and asking to submit username and password.

many a

[2015-06-14 15:49] nraboy commented on #91
ng-cordova-oauth was designed to be generic and work without anyone else's native plugin.

If you want to add a native social networking plugin, I encourage you to fork this project and add it into your local fork.

Regards,

[2015-06-14 15:49] #91 closed

[2015-06-15 23:26] flagthrow commented on #90
Hello,
thank you for your help.

I've created this repository containing my code https://github.com/flagthrow/magento-oauth-login
Inside the img_dbg directory you can find 3 images about the console logs, the magento backend configuration and the mobile application output.

These are the steps I followed to create the application:
ionic start IonicProject blank
cd IonicProject
ionic platform add a

[2015-06-16 04:17] nraboy commented on #90
Please try ADB instead of Chrome inspect.  CORS errors are usually related to improper installation or testing.

Regards,

[2015-06-17 16:22] setheen opened #92 "Update README to correct js script path"
README currently references :

ng-cordova-oauth/ng-cordova-oauth.min.js

The script actually lives at ng-cordova-oauth/dist/ng-cordova-oauth.min.js

[2015-06-17 21:26] nraboy commented on #92
You're right.  Thanks for opening the issue ticket :-)

[2015-06-18 12:29] Guiguillermo opened #93 "Chosen SHA variant is not supported"
Hello,

I'm using $cordovaAuth to connect with Twitter and when I do :
$cordovaOauth.twitter(clientId, clientSecret);
I got the following error :

error    Error: Chosen SHA variant is not supported
    at Error (native)
    at new t (http://192.168.1.19:8100/lib/sha-js/sha1.js:12:276)
    at Object.createSignature (http://192.168.1.19:8100/lib/ngCordova/dist/ng-cordova.js:6120:38)
    at Object.t

[2015-06-18 20:26] dhaspden commented on #93
Hey there,

I just went through this yesterday.  It seems that the new version of jsSHA is not supported.  Use version 1.6.0 of jsSHA instead, that seemed to fix it for me.

Regards,

[2015-06-19 13:36] Guiguillermo commented on #93
That works for me now ! Thank you !

[2015-06-19 13:36] #93 closed

[2015-06-19 22:08] nraboy commented on #93
I'm wondering why breaking changes were introduced in jsSHA 2.0.

I guess use 1.6.0 for now until I can figure out a solution.  Shouldn't cause any negative impact using an older version of the library.

[2015-06-19 23:06] nraboy commented on #92
This is corrected in https://github.com/nraboy/ng-cordova-oauth/commit/e9e909b57a64be90c1090a232f5dda55a2d51c48

Thanks for reporting!

[2015-06-19 23:07] #92 closed

[2015-06-20 00:43] nraboy commented on #79
Added to the development branch https://github.com/nraboy/ng-cordova-oauth/commit/f5ead601494f3ea1f0c1b184ac1bb493121d4305

Can you please download from the development branch and let me know if it works?

Thanks,

[2015-06-23 19:29] cfjedimaster opened #95 "Add configure option to box"
See title.

[2015-06-24 02:13] nraboy commented on #95
Has been added to the development branch https://github.com/nraboy/ng-cordova-oauth/commit/2b835ba806f9eec89c59d3c3e3d9b060d403295a

Will be merged with the master when more is added to the plugin.

[2015-06-24 02:13] #95 closed

[2015-06-24 06:33] KrzysiekF commented on #79
Hello,
Thank you very much! I'll try check this as soon as possible.

[2015-06-24 10:37] iamaro opened #96 "In App Browser opening to ( and sticking on ) blank screen"
When trying to use oauth for twitter, the in app browser is opening to a blank screen and nothing is happening.

I'm not seeing any errors and am not running in livereload mode

Please help!

Thanks,
Clay
![screen shot 2015-06-24 at 3 36 02 am](https://cloud.githubusercontent.com/assets/260895/8328057/52aa1138-1a22-11e5-8ef7-440480f48b8e.png)

[2015-06-24 13:03] nraboy commented on #96
You cannot use live-reload with this library.  It has a history of having strange results where it will work sometimes, but not all the time.

You need to do a complete build and and install for it to work correctly.

Regards,

[2015-06-24 13:03] #96 closed

[2015-06-24 18:02] iamaro commented on #96
Thanks for the quick response!

Can you clarify a bit -- what do you mean by doing a 'complete build and install' -- Do i just need to do Ionic build ios again (as I've tried that) or do I have to delete my platforms folder, install the plugin agian, and never run livereload in the future?

Thanks again,
Clay

[2015-06-24 20:21] iamaro commented on #96
To clarify, I am NOT using livereload -- are you saying that using livereload at any time in the past will break the project somehow? I dont understand what you're saying I should do to fix

[2015-06-25 15:11] nraboy commented on #96
Live-reload, ionic view, and ionic serve cause me all kinds of headaches.  Because they are all still alpha, I recommend not using them.

Regards,

[2015-06-25 22:07] iamaro opened #97 "Add Spotify Web Api, please"
made post in error, sorry

[2015-06-25 22:08] #97 closed

[2015-06-28 14:03] nraboy commented on #79
So is it good?

[2015-06-28 14:04] nraboy commented on #90
Insufficient information.  Closing the ticket.

[2015-06-28 14:04] #90 closed

[2015-06-30 05:35] jason-engage commented on #64
@asuwend1 Hey I'm having the exact same issue as you. I have it working for the timeline link, but haven't got it working for search/tweets. I even tried using this really simple query with no special chars:  https://api.twitter.com/1.1/search/tweets.json?q=yoga

Have you had any luck in pinpointing the issue?: Here's the few lines of code that are supposed to work:

               var search_twee

[2015-07-01 11:50] KrzysiekF commented on #79
Hello,
I'm sorry, I have been really busy for last two weeks. I try use new method 'envato', but I have error:
<code>
$cordovaOauth.envato is not a function
</code>
I try change 'envato' to 'facebook', and script working.

[2015-07-01 12:56] KrzysiekF commented on #79
OK it works, my mistake :) thank you very much! :)

[2015-07-01 13:55] #79 closed

[2015-07-02 02:20] jason-engage commented on #64
@nraboy any idea what might not be matching up in the signature function?

[2015-07-02 02:53] nraboy commented on #64
Getting oauth working is as far as my help will go.  It sounds like there is no issues with getting an access token.  I don't know the Twitter API and this library was never designed to make the API work.

If you cannot get an access token, I'd be happy to help.  Otherwise, I recommend posting in the Twitter developer forums.

Best,

[2015-07-02 02:59] jason-engage commented on #64
Ok hopefully I can figure it out and provide it to ngcordova.

[2015-07-02 03:01] nraboy commented on #64
You might want to talk to @saimon24 and read his tutorial on the topic:

http://blog.ionic.io/displaying-the-twitter-feed-within-your-ionic-app/

Best,

[2015-07-02 03:05] jason-engage commented on #64
That's already covered in higher in this thread, and that's not the issue. Signing this url works fine:

https://api.twitter.com/1.1/statuses/home_timeline.json

but not this one for example:

https://api.twitter.com/1.1/search/tweets.json?q=yoga

Notice the extra parameter.

Postman does it right, so I'm going to try to figure out why that is, compared to the createTwitterSignature function

[2015-07-02 05:36] saimon24 commented on #93
Got this error as well, maybe we need to point it out in the readme as new users are very likely to get stopped with this error.

[2015-07-02 06:12] jason-engage commented on #64
So here's the code below for anyone that wants to query the Twitter API using ngCordova. There was no issue with ngCordova's createSignature function. This solution requires jQuery to convert an oauthObj to a parameter string.

Here's the main code I used that is based on @saimon24's createTwitterSignature function. And don't forget to add another parameter to it which accepts an Object of your qu

[2015-07-02 13:14] nraboy commented on #64
Sounds like someone should blog about this ;-)

Feel free to post the link here if one of you guys does so.

[2015-07-02 14:18] nraboy commented on #93
This has been added to the README.  When time permits I was going to figure out how to get the latest version working, but for now 1.6.0 will have to do.

[2015-07-02 14:18] saimon24 commented on #64
@jason-engage Could you explain a bit more how you build the bodyparams and the paramsstring? Or how the final request signature should look like..

Thanks!

[2015-07-02 17:03] jason-engage commented on #64
@saimon24 The bodyparams obj is the 4th parameter of the $cordovaOauthUtility.createSignature function.

As per @nraboy suggestion I wrote up a blog post on it here: http://en.gg/using-ngcordova-and-cordovaoauth-to-query-twitters-search-api/

Feel free to create your own post and adapt my content if you feel you can make it clearer. For now that's the best I can do. Thanks for the code guys.

[2015-07-06 06:12] emssik opened #98 "Any chances for evernote support?"
Hi,

any chances for evernote support?

https://dev.evernote.com/doc/articles/authentication.php

Regards

Daniel Roziecki

[2015-07-06 14:14] nraboy commented on #98
I'll look into it when time permits, thanks!

[2015-07-07 16:53] RylanGotto opened #100 "LinkedIn successful sign in redirect bug."
Greetings!

I am having an issue with the LinkedIn function. After a successful login the Innappbrowser tries to redirect to the callback url, I am met with an error page for about 2/3rds of a second, saying page not found. After the 2/3rds of second I return back to the app and successfully complete my login flow. I have tried modifying the plugin so the browser closes immediately after a success

[2015-07-08 06:07] saimon24 commented on #64
As this seemed like a tricky topic to me, I decided to create a AngularJS wrapper library called ngTwitter: https://github.com/saimon24/ng-twitter

For more information check out the according tutorial on my blog: http://devdactic.com/twitter-rest-api-angularjs/

[2015-07-08 12:17] nraboy commented on #64
Thanks for sharing this @saimon24!

[2015-07-08 12:17] #64 closed

[2015-07-08 15:46] nraboy commented on #100
This is due to a race condition with providers that don't use implicit grants like LinkedIn.  The InAppBrowser processes requests faster than the API can produce and since technically Apache Cordova applications don't serve on localhost, it gets an error.

The only solution to fix this is to override the redirect_uri to a website that exists, not being served on localhost.  Use that same redirect_

[2015-07-08 15:46] #100 closed

[2015-07-08 21:33] jason-engage commented on #64
Nice work @saimon24

[2015-07-09 05:08] senthilkumar04 commented on #43
@nraboy hi, i am able to get the access token successfully but the issue is before it reaches the success function in the loginservice, it shows a white page with error called "Webpage cannot be displayed with url - http://localhost/callback?#access_token=sdfsdf" and then it is getting redirected to the page which i have given in the success function

[2015-07-09 09:34] prasad8mhatre opened #101 "How to get User Email id?"
How to get Email id of user who is currently logged in.When i say  $cordovaOauth.google(<my key>,['https://www.googleapis.com/auth/plus.me','https://www.googleapis.com/auth/userinfo.email', 'https://www.googleapis.com/auth/gmail.readonly']):-
    Result{"access_token":<my current access token>,"token_type":"Bearer","expires_in":"3600"}

i tried sending http GET request to www.googleapis.com/plus/v

[2015-07-09 14:45] nraboy commented on #101
Hey @prasad8mhatre

I don't support any of the APIs.  Once you have an access token, that is where my help stops.  I suggest you reach out in the forums or read the Google API documentation to find what you need.

Regards,

[2015-07-09 14:45] #101 closed

[2015-07-09 14:47] nraboy commented on #43
What repository are you using (ng-cordova or ng-cordova-oauth)?  Also, can you confirm that you're testing on a device or simulator WITHOUT using ionic serve, ionic view, ionic live-reload, or phonegap build?  The four of those will not work correctly.

Usually the webpage cannot be displayed errors happen with the providers that do not offer implicit grants, but Facebook and Google does.  Are you

[2015-07-09 15:41] senthilkumar04 commented on #43
@nraboy i am using ng-cordova and i am using ionic view to test the app. but i found a work around for this problem by creating a callback file in the www directory so that it cant display webpage not found but this is not a correct fix i guess plz help

[2015-07-09 15:51] nraboy commented on #43
Sorry, but I told you ionic view will not work correctly.  I also asked to know which provider you're using, but you have not given me that information.

[2015-07-09 15:55] senthilkumar04 commented on #43
i am using $cordovaOauth provider to connect with facebook

[2015-07-09 16:20] nraboy commented on #43
The only thing I can recommend to you is to stop using Ionic View.  I clearly put in the README that it is not compatible.

Regards,

[2015-07-13 09:42] manudefrutosvila commented on #57
I have installed from bower
[code]

but it seems that the source code differs form ng-cordova release of **v0.1.17-alpha**

The release is behind 10 commits of master branch and it looks like the code that checks **inappbrowser is installed** has changed since then.

in the release of 0.1.17-alpha it is still
[code]

instead of the line that checks for the new name of the plugin and also for the o

[2015-07-13 12:46] nraboy commented on #57
Hey @manudefrutosvila,

I have no control over Ionic's versioning cycle since I have no affiliation with them.  I encourage you do one of three things:

1. Use ng-cordova-oauth
2. Use the master branch of ng-cordova
3. Ask Ionic to tag a new version on ng-cordova

Regards,

[2015-07-18 21:52] RylanGotto commented on #100
Hey thanks for you reply, I have switched up the redirect_url. However, I am a little confused as to how I would give control back to ionic after the innappbrowser redirects to a URL which exists? Currently, after a successful sign in I am redirected to the URL but then it just stalls. I am not sure if it matters but I recently installed crosswalk

[2015-07-20 04:48] prasad8mhatre opened #104 "Is it necessary to enter User email id and Password to login?"
When i install my app,my app loads,then it ask the user to login via Google.When user clicks on Login button,It opens a window using inappbrowser plugin displaying user to enter User google credential and then google permission page and all.
So, I want to implement that user will directly shown google permission page as it happens in all other apps.
how can be this done?

[2015-07-20 11:26] nraboy commented on #104
This plugin uses web oauth, not native login.  If you want to automatically log in based on the users available accounts, you'll have to find a different plugin.  Otherwise, the user will have to sign in using the web flow with this plugin.

Regards,

[2015-07-20 11:26] #104 closed

[2015-07-21 09:39] prasad8mhatre opened #105 "Authentication stucks at permission page on ios platform"
Problem statement:Authentication stucks at permission page on ios platform for google authentication
Problem reproduce:
1.When we click on login with google.
2.It ask for User id and password.
3.After entering credentials, the permission page appears.
4.in this page we have to click on "Accept" button to proceed.
5.but when we click on this, no further action is shown.
what to do?

[2015-07-21 15:26] nraboy commented on #105
What do your logs say?  Are you testing directly on your device or simulator or are you trying to use Ionic View, Ionic Serve, Ionic Live-Reload, or PhoneGap Build?  None of the four that I just mentioned are compatible with this library.

Regards,

[2015-07-22 10:06] Mirodil opened #106 "issue when checking InAppBrowser installed or not"
here is issue when you checking InAppBrowser installed or not:

[code]
needs to replace with this one

[code]

[2015-07-22 14:58] nraboy commented on #106
What plugin version are you using?  What you've suggested is already in place:

https://github.com/nraboy/ng-cordova-oauth/blob/master/src/utility.js#L13-L19

Regards,

[2015-07-22 15:44] Mirodil commented on #106
plugin from here http://ngcordova.com/docs/plugins/oauth/

[2015-07-22 15:49] nraboy commented on #106
Again, what version are you using?  The Ionic guys don't update their repository versions as frequently as I do.  It very likely that you are using a much older version.

[2015-07-22 15:49] #106 closed

[2015-07-23 23:33] daksamedia opened #107 "Working Sample"
Is there working sample for this?
I'm new in Oauth projects.

Thank you

[2015-07-24 00:09] nraboy commented on #107
https://github.com/nraboy/ng-cordova-oauth-example
https://github.com/nraboy/ng-cordova-facebook-example

[2015-07-24 00:09] #107 closed

[2015-07-26 15:32] Shivaraman-iyer opened #108 "Unable to use with facebook login"
I know this is a very basic question but I have tried to get ng-cordova-auth to work on my application. and following are the codes:

mainCtrl.js:
[code]

I am getting the alert, but there isn't any error log coming or anything else. Can you please tell me what I might be doing wrong with this. I also want to use linkedin on the same app, and even that doesn't seem to be working.

[2015-07-26 16:09] Shivaraman-iyer commented on #108
It was the same mistake as in the https://github.com/nraboy/ng-cordova-oauth/issues/57 Was able to fix it with the answer there. But now I just wanted to understand how to do it for linkedin as it gives me the redirect_uri is different error and I dont understand the individual options like what should I put in "state" param for the function and where should I precisely set the redirect uri on the

[2015-07-27 00:32] nraboy commented on #108
This is going to sound cruel, but you're going to have to read the LinkedIn documentation.  You're not getting errors that would lead me to believe the library is broken.  Just API misunderstandings.

https://developer.linkedin.com/docs/oauth2

Regards,

[2015-07-27 00:32] #108 closed

[2015-07-28 04:20] phanthinh commented on #61
Hi @MyBoon @nraboy

I'm experiencing a similar
error - upon submitting email and pass through the login dialog I instantly get
"webView:didFailLoadWithError - -1004"

--------------------------------------- CODE EXAMPLE --------------------------------------
Index.html using code:
<script src="lib/ngCordova/dist/ng-cordova.js"></script>
<script src="cordova.js"></script>

App.js using code:
docume

[2015-07-28 04:28] phanthinh opened #109 "IOS webView:didFailLoadWithError - -1004: Could not connect to the server."
I'm using connection Linkedin with Ionicframework, but seem it's not working with error.

error - upon submitting email and pass through the login dialog I instantly get  - "IOS webView:didFailLoadWithError - -1004: Could not connect to the server."

--------------------------------------- CODE EXAMPLE --------------------------------------
Index.html using code:

App.js using code:
document.addEv

[2015-07-28 14:12] nraboy commented on #109
For one, don't use ionic lab or ionic serve.  It isn't entirely compatible with the library.  As for that error, did you install and configure the whitelist plugin correctly?

If I remember correctly, that error doesn't actually cause any problems.

[2015-07-28 14:13] nraboy commented on #109
Closing due to duplicate issue: https://github.com/nraboy/ng-cordova-oauth/issues/61#issuecomment-125433849

[2015-07-28 14:13] #109 closed

[2015-07-28 14:32] phanthinh commented on #109
@nraboy i make sure plugin installed, because i open linkedin  browse then enter email and password to saw this error

[2015-07-28 16:26] nraboy commented on #109
Does it prevent you from getting access tokens?

[2015-07-28 18:14] phanthinh commented on #109
@nraboy I don't sure error of cordova plugin. But seem application try access this url "http://localhost/callback"   when enter email and password from linkedin

[2015-07-28 20:39] nraboy commented on #109
Again, does it prevent you from getting access tokens?

[2015-07-29 02:21] phanthinh commented on #109
@nraboy I'm saw access_token return.

[2015-07-29 03:55] phanthinh commented on #109
@nraboy

Currently, my app working fine. Thank you a lot :)

Best regards.

[2015-07-29 06:47] prasad8mhatre commented on #105
![screen](https://cloud.githubusercontent.com/assets/2304515/8951425/3f3c10c6-35eb-11e5-9945-f74e4f2fbc7f.png)
Why offline access permission is shown every time when i login?
Because in web,mobile it doesn't ask this permission it just proceed futher

[2015-07-29 15:10] nraboy commented on #105
I don't know what scope you are using.  Also for your other platforms it may already have a session for you.  Too many unknowns with what you're doing:

https://github.com/nraboy/ng-cordova-oauth/blob/master/src/oauth.js#L169

You can see the code for yourself.  It is following what the Google APIs ask for.

Regards,

[2015-07-29 15:10] #105 closed

[2015-07-29 15:11] nraboy commented on #109
Great :-)

[2015-07-29 22:03] nraboy commented on #74
I'm going to close this ticket for now since it appears to be Windows Phone related.

[2015-07-29 22:03] #74 closed

[2015-07-29 22:06] nraboy commented on #12
This was added to https://github.com/nraboy/ng-cordova-oauth/commit/8cf594947cd8aa52ae64be2ff9f234b85f127293

[2015-07-29 22:06] #12 closed

[2015-08-04 08:12] nielskrijger opened #114 "Module 'ngCordovaOauth' is not available after new release ngCordova 0.1.18-alpha"
Not sure if this problem was caused due to ngCordova or something in ngCordovaOauth.

Basically this morning our builds started to fail with the following error:

[code]

This was caused due to a new release of ngCordova 0.1.18-alpha. For now we've downgraded to 0.1.17-alpha and it works properly again.

I don't have more details atm.

See also
https://github.com/driftyco/ng-cordova/issues/901

Fe

[2015-08-04 11:07] pppglowacki commented on #114
We also have the same issue. Our fix was to go back to .14

[2015-08-04 11:49] matheusrocha89 commented on #114
When this happen in your CI? What command your CI do to get the `ngCordova` it clones the project or just download the release?

[2015-08-04 11:59] nielskrijger commented on #114
@matheusrocha89 It is not CI-specific, I was able to reproduce the issue when reinstalling all dependencies on my local machine as well.

ngCordova is installed using bower install both locally and on CI.

[2015-08-04 12:01] matheusrocha89 commented on #114
The problem is that the new build of ngCordova does not package the `ngCordovaOauth` I saw here on the code, I will open an issue on `ngCordova`

[2015-08-04 12:04] matheusrocha89 commented on #114
Open! :)

[2015-08-04 12:10] nielskrijger commented on #114
@matheusrocha89 Thanks for the update! We'll wait for a new release before upgrading.

Link to the issue: https://github.com/driftyco/ng-cordova/issues/912

[2015-08-04 12:19] matheusrocha89 commented on #114
@nielskrijger I think it was already fix it, on the next release of `ngCordova` the problem will be solved https://github.com/driftyco/ng-cordova/pull/909

[2015-08-04 12:20] matheusrocha89 commented on #114
You could try to download the dev version on master branch and test it just to see if it works.

[2015-08-04 12:46] gortok commented on #114
Resolved with v0.1.19-alpha tag.

[2015-08-04 12:58] nraboy commented on #114
The submodule itself is fine.  The problem was Gulp.  I was doing some reading and all that reading points to Gulp 3.x being awful.  Asynchronous events in Gulp are a common problem of 3.x and the internet claims 4.0 corrects this.

[2015-08-04 12:58] #114 closed

[2015-08-04 13:17] gortok commented on #114
@nraboy That's good to know.

[2015-08-10 09:07] MrFrankel opened #115 "oauth to google calendar"
Hey,
I'm getting a 400 invalid_scope when trying to authenticate against google calendar API.

 $cordovaOauth.google("id", ["calendar"]).

any help would be greatly appriciated

[2015-08-10 11:32] MrFrankel commented on #115
ok, solved it, used the whole scope and it works.
'https://www.googleapis.com/auth/calendar'

[2015-08-10 11:32] #115 closed

[2015-08-10 19:09] silvamarcel opened #116 "LinkedIn and Twitter Login result in a 404 error page before to finish que authentication"
Hi,

Every time I do Login with LinkedIn or Twitter, I got this error page below (It is in portuguese, but it is the same error that 404), before the flow go to the "then" function.

![screenshot_2015-08-10-14-42-24](https://cloud.githubusercontent.com/assets/1327954/9180340/4e3f41a6-3f78-11e5-9a21-b502ddfaa58a.png)

My code to login in the app is:

var ID = <myLinkedInID>;
var SECRET = <myLinkedI

[2015-08-10 21:31] nraboy commented on #116
Can you translate the message for me as well as tell me what your ADB logs say?

Also confirm that you ARE NOT using ionic serve, ionic view, ionic live-reload, or phonegap build?

Thanks,

[2015-08-10 23:47] silvamarcel commented on #116
I put here the view in English and can confirm to you that I'm not using "ionic serve", "ionic view", "ionic live-reload", or "phonegap build". I'm using "ionic run android" and this error page is directly from my device.

![screenshot_2015-08-10-20-40-22](https://cloud.githubusercontent.com/assets/1327954/9186846/303ae98a-3fa0-11e5-929a-c9f488b7c205.png)

My ADB Log is this:

D/SSRMv2:Monitor( 23

[2015-08-11 18:29] raviverma89 commented on #39
still getting null in error handler.
need help

[2015-08-11 20:12] nraboy commented on #39
I encourage you to read through the issue tickets for this project.  Answers to this have been provided many times.

[2015-08-11 20:16] nraboy commented on #116
That is weird.  You have nothing in your logs that would indicate a problem.

What version of Android are you using and are you sure everything is set up correctly in your LinkedIn and Twitter dashboards?

[2015-08-12 13:11] silvamarcel commented on #116
Just for you know, the flow works, but this page appears every time I do login with LinkedIn or Twitter.
About my configurations,

I have in LinkedIn:
Authentication:
  - Default Applications Permissions: All are selected;
  - OAuth 2.0: I have 3 fields with "http://localhost/callback", "http://localhost/", "http://localhost:8100/";
  - OAuth 1.0a: Empty for both "Accept" and "Cancel"

I have in T

[2015-08-12 15:08] nraboy commented on #116
That page should appear only for milliseconds before disappearing when using a provider that doesn't use implicit grants (LinkedIn, Twitter, Withings, etc.).  If you see it for only a moment and it disappears then all is fine because you're just suffering from a race condition.  You can get around it by providing a custom redirect_uri in the options object that points to a legit website.

If you s

[2015-08-12 15:47] silvamarcel commented on #116
Thanks @nraboy, I will implement this pages later.

[2015-08-12 15:47] #116 closed

[2015-08-12 19:25] jbarbara opened #118 "Issue? Bypass credentils when user already logged in"
Part of the appeal of open auth especially on mobile is that if you are already logged in to Facebook it would just pass on by the enter login info screen and return the token

Is this possible with this plugin?

I assume the token is saved someplace in safari's cache from previous logins to Facebook.

If this does work please someone point me in the right direction!  If not please confirm and hop

[2015-08-12 19:47] nraboy commented on #118
You store the access token yourself.  Add some logic that checks to see if the token was saved to local storage or a cookie.  If it was not, then initiate the login flow, otherwise bypass because you already have a functional token.

Up to you how you want to design your logic for saving and checking the token.

Regards,

[2015-08-12 19:47] #118 closed

[2015-08-12 20:09] jbarbara commented on #118
Yes I have done that in the app.  Its more about the first time and the expectation that they could just press register with google and it go right through without logging it saving time and effort on mobile.

Its seems to work that way with a web application.  Any ideas on what could be done to capture that?   Is it that when I log in the Facebook it saves a cookie for Facebook that is accessed b

[2015-08-12 20:11] nraboy commented on #118
Yes the data is sandboxed in the application.  If you wanted to improve your process you could include the native Facebook or Google+ plugins and fallback to ng-cordova-oauth if the native applications do not exist.  The native plugins will communicate with the native app where ng-cordova-oauth is browser based.

Regards,

[2015-08-18 07:12] okmttdhr commented on #96
@nraboy Hi, in that case, how to debug the application using ng-cordova-oauth?

[2015-08-19 09:14] UnbekanntesPferd commented on #1
Are there any updates on this issue?

[2015-08-19 13:10] sflahave opened #120 "Should not use/require the client_secret"
I'm very new to OAuth 2. Having just finished reading the spec yesterday, along with this article by Alex Bilbie: http://alexbilbie.com/2014/11/oauth-and-javascript/ ,
my understanding is that using the client_secret in front-end code is fundamentally flawed. We cannot securely store the client_secret in any front-end application, including packaged "native" mobile applications. If we do, it shoul

[2015-08-21 21:19] killui opened #121 "Please add Dribbble support!"

[2015-08-24 07:30] okmttdhr commented on #96
@nraboy Any effective way to debug and develop?

[2015-08-25 16:02] amit777 commented on #81
Hi, here is a node module that implements OAuth with Office365.  I think it may be different than Windows Live, but I get confused with all the microsoft product names.

https://github.com/QuePort/passport-azure-oauth

Basically you need to register an App in Azure Active Directory (which is free).

[2015-08-25 17:43] gregmcpugh commented on #81
Hi, I can see this post was over 3 months ago now but just encase you are still stuck.
About a week ago I implemented azureAD as a function to this repo, it currently is in development branch.
I was facing the same problems as you when first starting out. If this doesn't help you let me know and I'm sure we can get a wrapper for office365 as well.

[2015-08-25 20:31] amit777 commented on #81
Oh, very cool. Thanks! I'll check out the Dev branch and let you know how it goes. Great project btw

[2015-08-26 18:55] nicksam112 opened #123 "ng-cordova-oauth.min.js has no line breaks or white space"
The entirety of ng-cordova-oauth.min.js is on two lines, save for the first two lines which state the name and authorship. This makes it pretty much impossible to read.

Is this intentional?

Thanks,
Nick

[2015-08-27 04:01] marcussaad commented on #123
@nicksam112 That's a minified version, it's intended to be like that. Please refer to ng-cordova-oauth.js (without the .min in the filename).

[2015-08-30 15:27] nraboy commented on #121
Please provide a link to the Dribble oauth documentation.

Regards,

[2015-08-30 15:30] nraboy commented on #96
ADB for Android:

https://blog.nraboy.com/2014/12/debugging-android-source-code-adb/
https://blog.nraboy.com/2015/02/properly-testing-ionic-framework-mobile-application/

Regards,

[2015-08-30 15:31] nraboy commented on #123
Thanks @marcussaad

[2015-08-30 15:31] #123 closed

[2015-08-30 17:04] nraboy commented on #1
Since this ticket has become more than one issue I'm going to close it.  If you have specific issues, please open a ticket and lets try not to get multiple topics into a single ticket.

Thanks,

[2015-08-30 17:04] #1 closed

[2015-08-30 17:12] nraboy commented on #120
You are correct.  You should not use explicit grant types (ones with client secret) in your front-facing application because it is incredibly easy to decompile applications.

This library offers explicit grant providers for two reasons:

1. Not all providers offer implicit type grants (front-facing safe)
2. Developers will continue to ask for provider support from me regardless on how unsafe it mi

[2015-08-30 17:12] #120 closed

[2015-08-31 11:12] matheusrocha89 opened #126 "Keep code DRY and module organization."
@nraboy I was looking the code here and I saw that there is many repeated lines, I want to find a better solution for that, what do you think about?

And do you like the idea of organize each provider as a separated file? What do you think about?

[2015-08-31 22:26] nraboy commented on #126
I'd love a better solution, but I've found that even though all providers in the library follow the oauth spec, each have slight differences.

These slight differences make it much harder to strip out duplicate code.

Open to ideas though :-)

[2015-09-01 00:16] matheusrocha89 commented on #126
Maybe the test abou cordova and inappbrowser will be a begining, I will think in something, write some code and open a pull request. Let's make this ng-cordova plugin Great :+1:

[2015-09-01 00:24] matheusrocha89 commented on #126
@nraboy BTW, I know here is not the right place but...what about 2 spaces? hahhahaahah (And now I create a war on the project) hahahahahaha

[2015-09-01 15:33] nraboy commented on #126
I agree, let's make this project great :-)

[2015-09-04 08:59] killui commented on #121
Here the link to the Dribbble Oauth : http://developer.dribbble.com/v1/oauth/

Regards,

[2015-09-04 12:38] nraboy commented on #121
Thanks, I'll look at it as time permits.

[2015-09-06 16:53] albert-kay commented on #126
+1 to Dribbble support request.

[2015-09-06 16:53] albert-kay commented on #121
+1 to Dribbble support request.

[2015-09-06 17:43] nraboy commented on #121
Unless someone else wants to take the lead on this, I can only work on this as time permits.

[2015-09-11 16:48] kmturley opened #128 "Consider allowing session, cache and approval params to be configured"
If you allow these params to be configured, then the user is able to login much faster without forcing login and permission prompts:

ng-cordova-oauth.js
line 164
    var redirect_uri = "http://localhost/callback",
        clear_cache = 'no',
        clear_session = 'no',
        approval_prompt = 'auto';
    if(options !== undefined) {
        if(options.hasOwnProperty("redirect_uri")) {

[2015-09-11 17:29] nraboy commented on #121
This has been added to the development branch https://github.com/nraboy/ng-cordova-oauth/pull/129 and will be merged to the master branch this weekend.

Best,

[2015-09-11 17:29] #121 closed

[2015-09-11 20:53] nraboy commented on #128
This will be considered.  It was also suggested in PR https://github.com/nraboy/ng-cordova-oauth/pull/94

Thanks,

[2015-09-16 19:58] xyNNN opened #130 "Blank page in in-app browser"
Hey folks,

my problem is, that I can't connect to spotify (I tried facebook also) via my ionic application via oAuth.

[code]

I've installed the cordova plugin "cordova-plugin-inappbrowser" via
[code]

Anyone knows we I've get this blank white page?!

Thanks in advance!

[2015-09-16 23:37] nraboy commented on #130
What do your logs say? Blank page equals errors in your logs.

[2015-09-17 04:52] xyNNN commented on #130
The problem is that I currently don't see any logs or errors. I can't test it in a browser or via ionic view because it isn't supported. How can I access the logs when I run it through the emulator via cli "ionic emulate ios"? Thanks!

[2015-09-17 10:58] promactkaran commented on #130
if using cordova version > 5.0 , then I think you should install cordova-whitelist-plugin , and if using android 4.4 , you can connect your device and open `chrome://inspect` on a chrome tab to see the logs.

[2015-09-17 11:09] xyNNN commented on #130
I'm using cordova 5.3.1 and use only iOS for development purposes...

[2015-09-17 11:14] promactkaran commented on #130
you can see logs by opening safari on your mac. and then under `develop` select your device. (make sure you have safari `web inspector` ON, on your iphone.

[2015-09-17 12:27] xyNNN commented on #130
I've started the emulator, opened the safari and click on "devop" and select under "simulator" the index.html ... I'm getting no error, but the connection to the safari debug tool works fine...

[2015-09-17 13:26] nraboy commented on #130
If you aren't finding what you need in iOS, you may want to run it in Android and search for logs.  Just in case reporting is wonky in iOS.

Regards,

[2015-09-17 14:42] ZoRDoK opened #131 "Twitter not work"
Because oauth_callback sent as data field.

[2015-09-17 18:15] zocheyado opened #132 "Twitter not working even with updated service"
So I was reading #45 to fix an error that I have when using twitter oauth Error 32 (Could not authenticate you). #45 talks about how to fix it by replacing the twitter code with
[code]
However the issue still persists even after this, I am using it on an actual android device not serve or live. I am also using code directly from documentation in the controller
[code]

[2015-09-17 22:19] nraboy commented on #132
I'll try it again this weekend to see if something changed, but I get asked similar questions all the time and it always turns out to be a configuration issue rather than an issue with the library.

You might try this in the temporary:

https://github.com/nraboy/ng-cordova-oauth-example

@saimon24 also has written several tutorials and extensions for Twitter.  Including him in the conversation in

[2015-09-17 22:19] nraboy commented on #131
Can I get more information?  Not a lot for me to go off of.

[2015-09-18 05:06] johnrobertcobbold commented on #130
Hi @nraboy, I am now having the same problem since updating this morning to ios9.
in-app browser is just showing white page now, no error messages in the safari console log

[2015-09-18 05:13] xyNNN commented on #130
Hey @johnrobertcobbold,

this sounds "good", hopefully we can fix this issue as fast as possible :+1:

[2015-09-18 10:57] ZoRDoK commented on #131
Tnx for quick response.

I get "POST https://api.twitter.com/oauth/request_token 401 (Authorization Required)"  in console

When run
$cordovaOauth.twitter(SECRET, CONSUMER_SECRET, {});

SECRET and CONSUMER_SECRET are valid, and my app work on test requests in a twitter REST panel.

[2015-09-18 11:42] ZoRDoK commented on #131
Oh, i found solution!

Twitter not approve default callback url http://localhost/callback at all. When i changed it on app settings and set real url (real domain) all work.

Update:

I think, put oauth_callback not work at all, because after first request callback_url on twitter app settings set to empty string if not checked "Enable Callback Locking"

[2015-09-18 16:04] nraboy commented on #130
Hmm....

@johnrobertcobbold, it sounds like that could be a very valid reason.  Do you get this in the simulator as well as device?

I want to try to reproduce on my own before we jump to conclusions about iOS 9.

Thanks,

[2015-09-18 16:05] nraboy commented on #131
I think there is a language barrier.  I really have no idea what you're talking about, but if you got it working, then great :-)

[2015-09-18 16:05] #131 closed

[2015-09-18 19:27] gurusinga commented on #130
@nraboy I've got same issue here. The Facebook OAuth does not work on iOS 9, I've tested on iOS 8.3 and 8.4 and it works just fine. FYI, LinkedIn works perfectly on iOS 9

[2015-09-18 21:46] jmtt89 commented on #132
Hi, this change again

[code]

Use without **data**

[code]

and Twitter work fine

According the api doc:

OAuth parameters are not always sent the same way as other parameters. **If you’re using HTTP-header based OAuth, you shouldn’t include oauth_* parameters in the POST body or querystring.**

https://dev.twitter.com/oauth/reference/post/oauth/request_token

[2015-09-18 23:34] nivil commented on #32
tried with github:

[code]

at least auth works

[2015-09-19 00:12] nraboy commented on #32
Yea the InAppBrowser plugin is a bit wonky.  Works though :-)

[2015-09-19 00:15] mhartington commented on #130
Hey yall, so quick question. For those that are having these issues, have you rebuilt your apps for ios 9? Or are these apps that were already installed on your ios devices when it was runnign 8.x?

[2015-09-19 00:16] nraboy commented on #130
Thanks for polling for more info @mhartington :-)

[2015-09-19 00:34] nraboy commented on #132
I just tried it myself:

https://github.com/nraboy/ng-cordova-oauth-example

I have no problems, thus it being a configuration on your end with the Twitter dashboard.

Best,

[2015-09-19 00:34] #132 closed

[2015-09-19 06:28] xyNNN commented on #130
I had this problem only with the iOS simulator which runs on iOS 9.

[2015-09-20 15:43] zulhfreelancer opened #133 "ngCordovaOauth for Instagram - Invalid scope field"
I followed [this tutorial](http://blog.ionic.io/oauth-ionic-ngcordova/) to create my own Ionic based Instagram Feed app. I use this ngCordovaOauth plugin to help me with the Oauth part.

But, I get stucked at this screen after login into my Instagram account.

![0](https://cloud.githubusercontent.com/assets/3416976/9981491/3f551aaa-5ff1-11e5-8d42-aab369cc6155.jpg)

This is my **app.js** so far:

[

[2015-09-20 15:51] nraboy commented on #133
Try downloading ng-cordova-oauth again.  I just did a merge with the development branch based on https://github.com/nraboy/ng-cordova-oauth/pull/125.

Someone contributed an Instagram change that I forgot to migrate to production.

Let me know how it goes.

Best,

[2015-09-20 16:00] zulhfreelancer commented on #133
![1](https://cloud.githubusercontent.com/assets/3416976/9981589/bcc3a054-5ff3-11e5-9eaa-244127e2ea0a.jpg)

Ok, I've the latest one of ng-cordova-oauth. Now I get error like inside the screenshot above.

What should I do now?

[2015-09-20 16:08] nraboy commented on #133
My assumption is that you disabled implicit grant in your Instagram dashboard:

https://instagram.com/developer/restrict-api-requests/

Find the checkbox and make sure it is enabled.

Best,

[2015-09-20 16:20] zulhfreelancer commented on #133
You're correct man! This is my final IG Client settings:

![screen shot 2015-09-21 at 12 25 41 am](https://cloud.githubusercontent.com/assets/3416976/9981674/2e879914-5ff6-11e5-8b8e-51ae4ff3211d.png)

And now I get the access_token!

![2](https://cloud.githubusercontent.com/assets/3416976/9981677/4813a2ba-5ff6-11e5-86eb-984467f32df6.jpg)

Questions:

1. Should I store this access_token into user l

[2015-09-20 18:10] nraboy commented on #133
I store it in local storage.  Implicit tokens are designed to expire after one hour.  So you'll have to add logic to check the current time vs the time the token was issued.  If the token is considered expired, then the user will need to log in again.

Best,

[2015-09-20 18:10] #133 closed

[2015-09-20 18:13] zulhfreelancer commented on #133
I see. So, there's no such thing like "remember me"? My user need to login every 1 hour?

[2015-09-20 19:48] nraboy commented on #133
Explicit grants have a refresh token, but they should only be used server side.  Unless you want to build something server side, you should settle with the 1 hour expiration.

This is per the legitimate oauth spec that I followed.

[2015-09-20 20:57] zulhfreelancer commented on #133
Sorry nraboy. I couldn't really understand it. Could you explain simpler? :)

[2015-09-20 23:00] nraboy commented on #133
You might want to do some research on "explicit grant" and "implicit grant" for oauth.

Best,

[2015-09-21 00:10] zulhfreelancer commented on #133
Alright, thanks!

[2015-09-21 02:45] angelxmoreno opened #134 "Publish new tag to bower please"
I ran
[code]
and got `"ngCordova": "~0.1.20-alpha"`. I ran into a few bugs like the one in #133 . I am not familiar on how publishing to Bower works but we should push the 1.4 release.

For now we can do
[code]

[2015-09-21 02:54] nraboy commented on #134
Yea, so the Ionic Framework guys got sick of me when it came to ngCordova so they are going to be dropping my library in the next release.

I recommend you just include my library, ng-cordova-oauth, in all of its glory separate from ng-cordova.  I still have plans to support this library independent of ng-cordova.

Best,

[2015-09-21 02:54] #134 closed

[2015-09-21 20:32] nraboy commented on #130
Can you try this?:

http://forum.ionicframework.com/t/cordovaoauth-facebook-ios-9-gm-issue/32477/2?u=nicraboy

I've heard reports you can use this temporary fix to get it working.  Not sure when Apache / Ionic will make this fix easier.

[2015-09-22 12:13] ZoRDoK opened #135 "Why not remember (not filled) login pair?"

[2015-09-22 13:22] nraboy commented on #135
This is a duplicate request https://github.com/nraboy/ng-cordova-oauth/issues/128

[2015-09-22 13:22] #135 closed

[2015-09-22 19:44] ogonbat opened #136 "HTTPS fail error"
Hi All

i do a login for facebook page
this is the code:
[code]
I have added the whitelist configuration into config.xml
[code]
i build and start from xcode the application and when i do the login i catch this error
[code]

i suppose is a permission problem or something like that
this is true?

thanks in advance for your help

[2015-09-22 19:52] nraboy commented on #136
If you are trying to do this with Xcode 7 or iOS 9 there are known issues with the Apache Cordova InAppBrowser that are beyond my control for the library.  See https://github.com/nraboy/ng-cordova-oauth/issues/130 for more information.

If you are not using Xcode 7 or iOS9 let me know.

Best,

[2015-09-22 19:54] xyNNN commented on #130
Hey @nraboy,

this temporary fix works for me. Hoping that Apache / Ionic will fix this issue as fast as possible. Thank for your investigation ;) So, we could close this issue due the fact that it isn't a issue on the side of the oauth library?! ;)

[2015-09-22 19:56] nraboy commented on #130
I think it is an Apache Cordova issue rather than Ionic.  Someone want to take the time to open a Jira ticket with them?

The joys of upgrading Apple software :-/

Thanks,

[2015-09-22 19:56] #130 closed

[2015-09-22 20:04] xyNNN commented on #130
I've created an issue in the issue tracker (see https://issues.apache.org/jira/browse/CB-9691)

[2015-09-22 20:10] ogonbat commented on #136
Yes
i use iOS9 and Xcode7
I will use the temporary fix
thank you for your help

[2015-09-22 20:45] #136 closed

[2015-09-24 17:51] zocheyado commented on #132
So I followed your advice and tried doing nothing but ng-cordova-oauth-example and it still fails for me. So as you suggested you assume its something with my twitter dashboard app setup, any idea what needs to be done?  I am creating a brand new app, default everything, adding name and description and I still get the error. I have also tried adding http://localhost/callback as a callback and twit

[2015-09-25 15:56] nraboy commented on #132
Use a different URL for your Twitter callback.  Twitter doesn't care what you use as long as you use one.

Regards,

[2015-09-26 07:20] kh411d opened #137 "ERR_CONNECTION_REFUSED page screen when redirecting to callback"
I've got this splash screen when redirecting to callback
-------------------------
Web page not available

The web page at http://localhost/callback?access_token=xxxxxxxxxxxxxxx
could not be loaded because:

net::ERR_CONNECTION_REFUSED

-------------------------------

Anyway to remove this page screen??

[2015-09-26 16:18] nraboy commented on #137
I need way more information than what you provided:

1. What provider are you trying to use?
2. What mobile platform are you using?
3. What do your device logs say?
4. Is it successful in getting you an access token even though it shows this screen?

The more information I have, the better I can diagnose what is going on.

Regards,

[2015-09-26 21:04] dominicholt opened #138 "Android only solution"
This properly works/authenticates with Android, but not a web browser or an iPhone. It just shows a white screen.

[2015-09-26 23:20] mdepecker commented on #138
Hi,
you're right  about Web Browser issue but it's pointed in the repo's readme

This library will NOT work with a web browser, ionic serve, or ionic view. It must be used via installing to a device or simulator.

About, your white screen on IOS, my guess is you're just dealing with this error : webView:didFailLoadWithError - -1200: An SSL error has occurred and a secure connection to the server c

[2015-09-26 23:44] dominicholt commented on #138
Unfortunately that's not it. Just get a "cannot connect to server" error on the iPhone.

[2015-09-27 10:06] mdepecker commented on #138
Just an other possibility, are you using ionic and live reload ?
Sometimes live reloads not work when debugging on device !

Could you please paste some of your code ?
I'm using it for an app at this time and this plugin works on iOS and android
(Facebook,Twitter,google and Instagram use ) so plugin is not your problem
There's something somewhere else

[2015-09-27 13:58] mdepecker commented on #138
i'm really confused, i'll try to prepare a running example for @dominicholt ,
unfortunately, i'm now running the same error as @dominicholt  pointed.

everything was working this night at 2.00 am (Paris/France),
during the night my iphone (5.0) update to IOS 9.0.1

[2015-09-27 22:14] dianikol commented on #45
I'm trying to get twitter login work..

In $cordovaOauthUtility factory you have a createSignature method.

[2015-09-27 22:27] dianikol commented on #45
Ok  VERY IMPORTANT. Make sure to download  version 1 and not the master branch of sha library....

[2015-09-27 23:39] nraboy commented on #45
Yea it is stated in the readme.

[2015-09-27 23:41] nraboy commented on #138
Yes iOS 9.x has all kinds of problems right now with hybrid apps.  Issues are popping up all over the forums and Google.

As of right now there is nothing I can do to correct this.  It is up to Apache Cordova to come up with a solution.

Best,

[2015-09-27 23:41] #138 closed

[2015-09-28 03:49] dominicholt commented on #138
I suggest this issue be re-opened, as it actually existed prior to the update for iOS 9.x

[2015-09-28 04:45] nraboy commented on #138
@dominicholt you've failed to give us necessary information.  No error logs, no information on deployment, etc.

Based on this it is probable to be a configuration issue on your end in the provider dashboard.

This is why I've closed the issue ticket.

Best,

[2015-09-28 04:59] dominicholt commented on #138
Sadly the only error message I received (logs or otherwise) was "cannot connect to server", which is pretty much the same error message you get when you try to connect via the web since it is obviously not a valid website.

Since my app worked perfectly fine on Android, I doubt it is a configuration issue, but I welcome any input you might provide on differences between configuration for iOS vs An

[2015-09-28 06:06] mdepecker commented on #138
Okay ,
@dominicholt,
I checked a Little my code try to debug it as well and finally I've got this info
1) this plugin works well in iOS and android
2) the error message that you get is a inappbrowser error and finally not related to this plugin
3) active safari development mode on your iOS device and plug it to your Mac
On safari select development menu and select your device name on the console t

[2015-09-28 10:31] kh411d commented on #137
Access token is granted successfully but when redirecting to callback url android doesn't know http://localhost so I changed it to http://10.0.2.2 and it works fine, I tested this on android J, K, and L

[2015-09-28 12:14] wkande opened #139 "Suggest inappbrowser open as hidden"
Perhaps open the inappbrowser as hidden and look for the loadstop event to show. Many times the web page will not load because the site is down or not available, worse the network connection is down. This causes the app to hang to the user because the inappbrowser is blank. $timeout is needed to kill the browser if this happens.

[2015-09-28 17:22] nraboy commented on #137
Yea it is due to a race condition.  The only way around this is to host your own site and override the redirect_uri to use that site instead of localhost.

[2015-09-28 17:22] #137 closed

[2015-09-28 17:30] nraboy commented on #139
Thanks for the suggestion.  I'll take it into consideration :-)

[2015-09-28 17:36] nraboy commented on #138
Thanks for jumping in to help out @mdepecker!

@dominicholt, I'm still waiting on the information we both requested from you.  The very first thing you mention was that it doesn't work in a web browser.  As clearly stated in the README this library will not work in the web browser.  We also asked you if you were trying to use ionic view, ionic serve, ionic live-reload, phonegap build, or similar a

[2015-09-30 20:26] jeffcharles opened #140 "Google id_token not returned"
I was hoping to use this library to retrieve a Google JWT for a user and noticed that the `id_token` parameter doesn't appear be returned when calling Google. It is when you use their sign-in library on a webpage. The bearer token isn't enough for me since I need a way to verify that the token was issued by Google on another server and the JWT allows this.

[2015-09-30 21:30] bcbeatty opened #142 "$facebookConnectPlugin undefined"
I have the following code for my controller
[code]

[2015-09-30 21:37] nraboy commented on #142
Sorry, I don't know what `$facebookConnectPlugin` is.  You'll have to track down the developer of it for questioning.

I can help you with `$cordovaOauth`, but I'll need a lot more information.  What is wrong with it?

Best,

[2015-09-30 21:49] bcbeatty commented on #142
Sorry long day, similar plugins.

When I use the $cordovaOauth.facebook method, facebook gives me an error I need to login. I thought the purpose of $cordovaOauth.facebook  is to log me in. The code is above.

[2015-09-30 22:08] nraboy commented on #142
What is the error?

$cordovaOauth uses of course Oauth.  It does not tie together with the native Facebook application.  Sure you can have the native application installed and signed into, but any app using $cordovaOauth will work independently in its own sandboxed environment.

I still need more information from you.  It is best you are not brief otherwise we're going to go back and forth for too

[2015-09-30 22:19] bcbeatty commented on #142
I'm getting an error "Not Logged In: You are not logged in. Please login and try again."
what information are you looking for?

[2015-10-02 12:54] nraboy commented on #140
Merged into development branch.  Should be in master before too long.

[2015-10-02 12:54] #140 closed

[2015-10-02 12:56] nraboy commented on #142
How about some screenshots?  Have you tried this?:

https://github.com/nraboy/ng-cordova-facebook-example

Sounds like your problem is probably with either your Facebook account or how you've configured your application in the Facebook dashboard.  If you're not getting any logs and it presents you with a login flow, the library is doing its job.

Best,

[2015-10-02 14:22] bcbeatty commented on #142
I downloaded the sample, when I try to serve this in ionic, I get the following console message when I click the Oath sign in Button "Cannot authenticate via a web browser", I saw the other issues about this. Are there any workarounds for this?
But when I try to run it in an emulator I get the error message "Not Logged In: You are not logged in. Please login and try again"
![capture](https://cloud

[2015-10-02 14:36] nraboy commented on #142
You're using some pretty concerning terms:

1. "when I try to **serve** this in ionic".  If you're using ionic serve, you're doing it wrong.
2. "Cannot authenticate via a web browser".  I put that error in there on purpose.

Both these are outlined in the readme of the library.  I encourage you to read it.

Regards,

[2015-10-02 14:59] bcbeatty commented on #142
thanks, I understand those points. I used an android emulator for the screenshot. Any advice on that one?

[2015-10-03 00:18] bcbeatty commented on #142
I got it working. It was facebook setting for urls for Valid OAuth redirect URIs, App Domains and Site URL all need to be in sync.
I didn't have OAuth redirect URIs correct

[2015-10-03 00:18] #142 closed

[2015-10-03 16:11] phanthinh opened #144 "Why i'm saw "website not available" when connected with linkedin?"
hi all

i'm saw "website not available" when connected with linkedin.
![4](https://cloud.githubusercontent.com/assets/5910795/10263774/0692a916-6a24-11e5-8417-645878b2c151.png)

Can you help me for this?? @pungoyal
@seiyria
@ballmw
@yalamber

[2015-10-03 21:35] nraboy commented on #144
You are suffering from a race condition.  This is common for providers that don't use implicit grants.

The only way around this is if you override the redirect_uri and use something other than localhost.

Regards,

[2015-10-03 21:35] #144 closed

[2015-10-04 02:30] phanthinh commented on #144
@nraboy

How do change localhost? It's work fine with web application and IOS, but not working with android

Regards,

[2015-10-04 13:28] nraboy commented on #144
$cordovaOauth.facebook(app_id, scope, {redirect_uri: "url_here"});

Make the the url matches what you put in the Facebook dashboard.

This plugin is not supported for web browser FYI.

[2015-10-07 10:20] emssik commented on #98
Ehh, I know time is relative :))) Any chances for adding these new functionality in this year?

Regards.

Daniel Roziecki

[2015-10-07 10:23] nraboy commented on #98
I can't make guarantees on time so I won't say yes, no or maybe.  I'm a busy guy and this is only a hobby project to me.

I encourage you to create a pull request with this feature or reach out to one of the many other project contributors and see if they have time.

https://github.com/nraboy/ng-cordova-oauth/graphs/contributors

Best,

[2015-10-07 10:31] emssik commented on #98
No problem. You know, programers are lazy :) If anyone can do something
instead of me then I am happy :)) If not, there is no big deal too :) I
have to start new project in this year, and need connection to the
Evernote, so I am looking for alternatives :)

I wish more free time, vacations in foreign countries are usually amazing
and very relaxing.

Regards

Daniel Roziecki

2015-10-07 12:23 GMT+0

[2015-10-08 20:04] mrbm opened #145 "keeping your tokens safe"
So with ionic apps, i find that its possible to deconstuct the app (many websites that can do this) and get access to much of the code js

With your plugin (which i am using for facebook and it works great) all I give up in my code is the facebook id, but for a twitter auth I'm giving up my consumerKey and consumerSecretKey...is this not a potential security threat to my twitter account?

Love you

[2015-10-09 02:36] nraboy commented on #145
You are correct, apps are very easy to decompile:

https://blog.nraboy.com/2014/11/extract-android-apk-view-source-code/

It is safe to use oauth providers that make use of implicit grants (client key only).  Oauth providers that make use of explicit grants (client key and client secret) only should be used at your own risk.

Regardless on how safe or unsafe certain providers are, I get endless re

[2015-10-09 02:36] #145 closed

[2015-10-09 19:49] mrbm commented on #145
No I get it, and I'm glad its there. Do you recommend any sorts of obufusion plugins or methods that you think would be be effective?

[2015-10-09 19:52] nraboy commented on #145
Always obsfucate / minify your JavaScript code.  It won't stop the dedicated people from breaking in, but it will certainly deter a lot of people.

[2015-10-09 19:52] mrbm commented on #145
If you don't mind sharing, what methods or libraries do you use?

[2015-10-09 21:20] nraboy commented on #145
See this:

http://blog.ionic.io/minifying-your-source-code/

[2015-10-09 21:24] mrbm commented on #145
Great post!! Thanks for all the work you are doing educating people. It's
much appreciated and helping ease the learning curve.
On Oct 9, 2015 2:20 PM, "Nic Raboy" <notifications@github.com> wrote:

[2015-10-11 08:29] veernimbus commented on #128
@kmturley I really like the code that you wrote above. i was thinking of modifying the plugin with the same code that you wrote above. Obviously for my personal use. i really need this feature now. What do you say?

[2015-10-11 09:08] veernimbus commented on #128
@nraboy Not to be impolite but i really need @kmturley implementation right now. I hope you update this plugin soon with this feature.

[2015-10-11 16:23] nraboy commented on #128
Well this is an open source project.  You can go ahead and fork / add the change yourself if you need it in a hurry.

This is a hobby project for me and I only work on it as time permits.

Best,

[2015-10-14 02:59] tamnv commented on #45
Hi @nraboy ,

When i use this API: https://api.twitter.com/1.1/statuses/home_timeline.json, it works fine, but when I change API to: https://api.twitter.com/1.1/trends/place.json?id=1, I got same error: "Failed to load resource: the server responded with a status of 401 (Authorization Required)". It's confusing,

[2015-10-14 03:16] nraboy commented on #45
My assumption is you're using the API wrong.  I offer no support when it comes to provider APIs.  As long as you're receiving an access token, my job is done.

I might recommend you posting to the Twitter community forums for more specific API help.

Best,

[2015-10-20 11:37] Dinesh7052 commented on #137
Hello ,
I am also getting this same problem , i even tried with my local ip address like http://192.168.0.45/calback
 but still getting same above mentioned error .

[2015-10-20 12:17] Dinesh7052 opened #147 "ERR_CONNECTION_REFUSED page screen when redirecting to callback"
Hello ,
I am also getting this same problem , i even tried with my local ip address of my server like http://192.168.0.45/calback .
but still getting same above mentioned error .

[2015-10-20 13:12] nraboy commented on #137
Again this is a race condition.  Using another local address will not resolve it.  You need to use an active domain.

[2015-10-20 13:13] nraboy commented on #147
As I commented on your other ticket, this is a race condition.  You need to use a live domain address rather than an IP if you wish to bypass it.

This is only for explicit grant providers such as Twitter.

Regards,

[2015-10-20 13:13] #147 closed

[2015-10-23 11:52] bertramn commented on #128
Hi guys, reading this and #94 I am just wondering if you are discussing a non-issue. When you open the inapp browser and navigate to the identity provider the cookies that end up on the device are within the domain of that identity provider. OAuth spec does not perscribe the relying party (your app) to manage identify provider cookies and neither should your browser allow access to these cookies f

[2015-10-26 17:53] mrbm opened #148 "More Twitter Set Up documentation"
Loving the plugin, made it really easy for me to set up facebook authentication.

Wanted to give a go for the twitter but had a couple questions.

1. If I am making an app that works with my server where I already have twitter authentication (which i think will be a very common use case for all people using this plugin, how do I set the call back to:
http://localhost/callback
As suggested in the r

[2015-10-26 20:37] nraboy commented on #148
The plugin is not designed to work that way.  It is designed to work directly with the Twitter oauth flow, not with the flow of a personal server.

With that said, you'd either have to have the two flows (app and server) run independently, or make revisions to the library to work with your server.

Generally, the options object only contains an override for the redirect uri.  Example options.redir

[2015-10-29 19:53] matheusrocha89 commented on #126
@nraboy What do you think about separate each provider in one file to avoid have just one big file with all of the providers?

[2015-10-29 22:31] #148 closed

[2015-10-29 22:32] nraboy commented on #126
It is a good idea and I wanted to do that in the past but I haven't had the time.  You want to take the lead on that?

The beauty of Grunt / Gulp will allow us to make a distribution file from any number of files :-)

[2015-10-30 00:42] matheusrocha89 commented on #126
@nraboy Yes, for sure I want :) It will be a pleasure. I already started to code a solution to separate into files and to remove duplication of code. I have a free time these days, I will open a pull request soon. Do you have skype or email or whatsapp? It sometimes I want to contact you to discuss some solutions but the twitter it's not a good way. My email it's in my profile you can send your co

[2015-10-30 01:03] matheusrocha89 commented on #126
@nraboy When I am separating in files I'm seeing something that I don't like, the principal oauth.provider function will have a lot of params...What to do you think about?

[2015-11-02 22:49] hatimox opened #153 "Add viadeo and doyoubuz authentication"
can you add this two api authentication to the lib ?

thanks

[2015-11-03 02:44] nraboy commented on #153
What are these services?  Please link to the oauth documentation as well.

[2015-11-03 09:27] hatimox commented on #153
Doyoubuzz : http://doc.doyoubuzz.com/dyb/oauth
viadeo : https://github.com/viadeo/api-sdk-js

[2015-11-03 14:01] nraboy commented on #153
And what are these services before I click on the links.

[2015-11-03 14:16] hatimox commented on #153
they are professional social networks like linkedin .

[2015-11-03 14:17] nraboy commented on #153
I will look into them as time permits.

Best,

[2015-11-03 14:17] hatimox commented on #153
thanks

[2015-11-06 09:38] frannnnk opened #156 "Please add wechat support"
Can you possibly add the support to login via Wechat?

Wechat is the top1 communication and social platform in China and some other Asian countries which covering +90% of the smartphones in China and seen as people’s daily life tool. This will also enable developers to reach more than 549 million users. ( as you know Facebook and Twitter is not accessible in China).

Thanks a lot

[2015-11-06 15:30] nraboy commented on #156
Please link to the oauth documentation for this service.

[2015-11-06 15:47] frannnnk commented on #156
I think it is here http://admin.wechat.com/wiki/index.php?title=User_Profile_via_Web

[2015-11-06 16:03] nraboy commented on #156
Thanks, I'll have a look as time permits.

[2015-11-11 08:30] YonasBerhe opened #160 "Facebook oauth not working"
I have successfully added ng-cordova-oauth to my project, I have not gotten an error anywhere in my project. I'm running the application on a Iphone and getting no problems getting the UI up. I have also registered my application with facebook and I have provided a call back URL as well http://localhost/callback.

Any thoughts as to why I'm not receiving any tokens back?
[code]

[2015-11-11 23:47] nraboy commented on #160
How are you checking for your logs?

[2015-11-12 01:24] matheusrocha89 commented on #160
What log messages are you receiving @YonasBerhe ?

[2015-11-12 01:25] #126 closed

[2015-11-12 09:09] ykarthikreddy18 commented on #62
Hi @MyBoon  @mypark .. I tried to install "cordova plugin add org.apache.cordova.inappbrowser", but it is downloading cordova-plugin-inappbrowser instead of org.apache.cordova.inappbrowser.. Below is the message shown while installing the plugin ...
Notice: org.apache.cordova.inappbrowser has been automatically converted to cord
ova-plugin-inappbrowser and fetched from npm. This is due to our old

[2015-11-12 16:26] nraboy commented on #62
cordova-plugin-inappbrowser should be fine

[2015-11-12 21:00] MyBoon commented on #62
`cordova-plugin-inappbrowser` should work now

[2015-11-13 08:19] rsdntevl commented on #57
So I was trying this project out after going to your blog, https://github.com/nraboy/ng-cordova-facebook-example. The ng-cordova.min.js (0.1.20-alpha) included within the project threw a "Could not find InAppBrowser plugin" error. I updated to the latest https://github.com/driftyco/ng-cordova (v0.1.23-alpha) & it is still throwing an error.

throughout the ng-cordova.js
[code]
is returning an empt

[2015-11-13 14:10] EdHubbell commented on #57
@vgport is right on - I changed

[code]
to
[code]

and I'm back up and running. The code I had was working and fine, but when I updated cordova last week it all went wonky. My cordova version is 5.4.0.

And thanks @nraboy for the project - Very useful.

[2015-11-13 16:02] nraboy commented on #57
This issue is being looked into.

[2015-11-15 12:46] thiphariel commented on #57
Hi. @EdHubbell solution works here, but only on Android 6-.

On Marshmallow, browser opens but "webage not available"
https://cloud.githubusercontent.com/assets/4220068/7539122/52435222-f56a-11e4-8209-07c497475a32.png

[2015-11-16 07:16] DreamYahia commented on #28
hello

make sure that you included the cordova.js on your index.html
if you use latest cordova please make sure that you replaced any line contains
cordovaMetadata.hasOwnProperty("org.apache.cordova.inappbrowser")
to
cordovaMetadata.hasOwnProperty("cordova-plugin-inappbrowser")

[2015-11-16 17:06] xunxdd commented on #57
![image](https://cloud.githubusercontent.com/assets/3663838/11188721/eb3d3168-8c51-11e5-88b7-2ae1c8b8f06d.png)

however,  var cordovaMetadata = cordova.require("cordova/plugin_list").metadata;

cordovaMetaddata does not contains the inappbrowser, as a result, auth broke everytime.

Does anyone know why?

thanks

[2015-11-16 17:08] nraboy commented on #57
@matheusrocha89 and I are working on a fix.  This is an issue introduced in the latest version of Apache Cordova.  Earlier versions should not be suffering from this.

Regards,

[2015-11-16 17:10] xunxdd commented on #57
thanks a lot!!!

[2015-11-17 07:55] cabbabu commented on #57
@nraboy a, also running thru the same issue. Could not find inappbroswer plugin in IOS..am awaiting for your response on the fix...

[2015-11-17 10:42] matheusrocha89 commented on #57
@xunxdd , @cabbabu We are testing a new version with this fix to release. You will download this version soon.

[2015-11-17 16:22] xunxdd commented on #57
thanks a lot, really appreciated!

[2015-11-18 12:22] dayaki opened #164 "Facebook - dont complete the browser flow"
When a user enter his email/password to login with facebook, I get the returned data but the page stays on the login page, the flow dont complete.

[2015-11-18 13:03] matheusrocha89 commented on #164
Did you configure the URL callback on your facebook app page? You need to configure to `http://localhost/callback`

[2015-11-18 14:42] dayaki commented on #164
Yes, I configured it to be http://localhost/callback

[2015-11-18 14:56] dayaki commented on #164
I inspected the webview and it seems its popping up two instances of facebook login. see image below

<img width="941" alt="sc" src="https://cloud.githubusercontent.com/assets/815619/11244252/e3c1f6b4-8e0c-11e5-8b87-8d30a1a73371.png">

[2015-11-18 17:01] jmarczew commented on #57
Just FYI, the " if(cordova.InAppBrowser)" solution works for me on Cordova 5.4.0 and Android Lollipop 5.1.1.

[2015-11-18 19:59] nraboy commented on #164
Can you confirm that you're NOT using ionic serve, ionic live-reload, ionic view, or phonegap build in your testing process?  All of these are incompatible with ng-cordova-oauth.

[2015-11-18 20:12] nraboy commented on #57
Maybe everyone can clear something up for me because I honestly don't know the answer to this.

Must cordova.InAppBrowser be wrapped in an onDeviceReady or IonicPlatform.ready first?  My approach with the meta that worked in previous versions did not require plugins to be ready.  It just checked the meta to see if they were installed.

Requiring the plugin to be ready to check if it exists is prob

[2015-11-19 08:24] dayaki commented on #164
I am not using any of these....I build and run the app on my Android device..v5.1

[2015-11-19 10:33] matheusrocha89 commented on #164
@dayaki can you show us how are you calling the oauth for facebook? Cause I used recently and with me it was only calling once and the flow works fine.

[2015-11-19 10:39] dayaki commented on #164
This is how am calling it:

$scope.fbSignup = function() {
    $cordovaOauth.facebook("744971867140902", ["email"]).then(function(result) {
      $localStorage.accessToken = result.access_token;
      $state.go('app.home');
    }, function(error) {});
  };

** I change the client_id to randon numbers here.

[2015-11-19 11:34] dayaki commented on #164
Sorry, Problem was from my end, I was calling the fbSignup() twice. Sorry for the troubles.

[2015-11-19 11:34] #164 closed

[2015-11-20 12:47] matheusrocha89 commented on #160
@YonasBerhe Still have problem with facebook? Could you print the log?

[2015-11-21 15:02] spartan1234 commented on #57
Temporary solution : using old version of cordova
npm uninstall cordova -g
npm install -g cordova@5.3.3

[2015-11-21 15:11] spartan1234 opened #166 "Facebook login works, but profile view gives error in android emulator(works fine in plnkr, postman, even pasting url in browser)"
I am able to login to Facebook and get back access_token , but when making angular $http request for viewing profile page, if throws error:
$http request code:

var url =  "https://graph.facebook.com/me?access_token=" + $localStorage.accessToken;
            $http({
                method: 'GET',
                url: url
            }).then(function successCallback(response) {
                  al

[2015-11-21 15:59] spartan1234 commented on #166
adding this : ionic plugin add cordova-plugin-whitelist
solved the problem

[2015-11-21 16:05] #166 closed

[2015-11-21 21:43] mjaverto commented on #57
+1 @spartan1234 that works for me.

[2015-11-22 19:56] nraboy opened #167 "Test Staging Branch for 0.2.0 Major Refactor"
Please everyone provide their 0.2.0 testing results in this issue ticket.

Thanks,

[2015-11-22 19:57] nraboy commented on #167
Here is the staging branch:

https://github.com/nraboy/ng-cordova-oauth/tree/staging

[2015-11-22 20:00] nraboy commented on #167
**Twitter**: Working

[2015-11-23 02:09] matheusrocha89 commented on #167
**Instagram**: Working

[2015-11-24 01:59] matheusrocha89 commented on #167
**Facebook**: Working

[2015-11-24 02:11] matheusrocha89 commented on #167
**Github**: Working

[2015-11-24 10:09] Requiescat opened #168 "LinkedIN authentication returning "Problem authenticating" while the app is actually approved in LinkedIN dashboard"
Hi @nraboy,
first of all, thanks a lot for your work ! I'm currently using your sample code https://github.com/nraboy/ng-cordova-oauth-example before implementation in my app.

I'd like to address an issue I have since I am actually able to approve the app with the library (app is show in linkedin approved app dashboard) but the console is returning a "Problem authenticating" error...

Here is the

[2015-11-24 14:58] matheusrocha89 commented on #168
What is the error message the function returns? Could you print it here?

[2015-11-24 15:20] Requiescat commented on #168
It's just: 1     316765   log      "error: Problem authenticating"

[2015-11-24 16:59] matheusrocha89 commented on #168
@Requiescat take a loot on this issue: https://github.com/nraboy/ng-cordova-oauth/issues/32 See if can help you

[2015-11-24 18:07] Requiescat commented on #168
Thanks @matheusrocha89 unfortunately, I've tried everything mentioned in #32. I manually pass the url (with the code generated by ngcordovaautho) through my browser and clearly get a positive answer from it: {"access_token":"xxxxxxxxxxxxxxxx","expires_in":5183999} so I don't understand why it fails in the post... Maybe @marcsallent has an idea?

[2015-11-26 09:27] Requiescat commented on #168
In fact I figured out this issue only shows up when I'm launching in -console mode...

[2015-11-26 17:14] yonihei commented on #57
+1 to downgrading to cordova 5.3.3
$cordovaOauth.instagram begun working again
thx :)

[2015-11-28 01:12] matheusrocha89 commented on #167
**Spotify**: Working

[2015-11-30 01:24] matheusrocha89 commented on #167
**Dropbox**: missing injections already created a pull request #169 and tested with the pull request code, it's working. When the pull request be merged it will fix the problem in staging version

[2015-11-30 01:55] matheusrocha89 commented on #167
**Slack**: Working

[2015-11-30 02:48] nraboy commented on #167
Merged #169

[2015-11-30 11:59] billy124 commented on #28
Hi, I am getting this error my Android phone,
- I have in app browser installed
- am using ionic run android to install the app on my phone, and not using ionic serve etc

[2015-11-30 12:37] DreamYahia commented on #28
@billy124 if you have error 32 can not authenticate you  just make sure that you add encode for localhost/callback in the js file

or please copy you error here

[2015-11-30 12:39] billy124 commented on #28
@DreamYahia, Hi, am getting this error "Cannot authenticate via a web browser"

[2015-11-30 12:48] YahiaAgwa commented on #28
@billy124
ok try this link
https://github.com/nraboy/ng-cordova-oauth/issues/28#issuecomment-156944096

[2015-11-30 13:22] billy124 commented on #28
@DreamYahia

I have the ng-cordova.js ref in my index.html

<script src="lib/ngCordova/dist/ng-cordova.js"></script>

Also cant not find any instance of this code ' cordovaMetadata.hasOwnProperty("org.apache.cordova.inappbrowser")'

[2015-11-30 13:27] YahiaAgwa commented on #28
https://github.com/nraboy/ng-cordova-oauth/blob/master/dist/ng-cordova-oauth.js
if(window.cordova) {
/* Code*/
                } else {
                    deferred.reject("Cannot authenticate via a web browser");
                }
in your index.html just make sure that you include the cordova.js script tag on the top of your page
<script src="cordova.js"></script>

[2015-11-30 14:13] billy124 commented on #28
Hmm had to change my sha version to 1.6.1 instead of 2.0.2 - http://stackoverflow.com/questions/30916991/chosen-sha-variant-is-not-supported

And its all seems to be working now, nice one for your support @DreamYahia

The twitter auth worked fine now however for a split second I see an android 404 page, am guessing I need to set a callback to show a loading screen?

[2015-11-30 14:18] YahiaAgwa commented on #28
@billy124
sounds good
congratulations

[2015-11-30 14:20] nraboy commented on #28
Since this thread is active, can I get you guys to help test the staging branch?:

https://github.com/nraboy/ng-cordova-oauth/issues/167

Thanks,

[2015-11-30 14:30] billy124 commented on #167
@nraboy Twitter is working, however for a split second I see an android 404 'web page not available' screen, is there a property I need to inject to avoid this screen?

[2015-11-30 15:18] nraboy commented on #167
Twitter, and all other explicit grant types in ng-cordova-oauth, will show a 404 when using localhost as the callback.  This is because of a race condition hit when trying to do X amount of requests before closing the browser.

You have two options:

1. Live with the 404
2. Override the redirect_uri in the options parameter and set it to match in the Twitter dashboard.  You'll have to host the red

[2015-11-30 17:25] matheusrocha89 commented on #167
-- UPDATE --
**Dropbox**: Working

[2015-12-02 13:51] vikey89 commented on #57
+1 to downgrading to cordova 5.3.3

[2015-12-02 14:35] nraboy commented on #57
This should be corrected in staging version 0.2.0 found in https://github.com/nraboy/ng-cordova-oauth/issues/167.

I encourage you to test it out.

[2015-12-04 00:01] J0ckerClown opened #170 "i just can get this work Oauth help please"
Hi!.

The other day my oauth was working good on facebook and twitter using visual studio 2015 with ionic and cordova. Then i had a problem and i have to update my android version and CLI and when that happen i cant get it work again and i get a message like this: "Cannot authenticate via a web browser" on both social networks.

scripts:
ng-cordova-oauth - v0.1.4 (2015-09-20)
angular.module('start

[2015-12-04 00:50] J0ckerClown commented on #170
ooooohh i solved it thanks!!! i missed this line:

<script src="cordova.js"></ script>

[2015-12-04 03:01] matheusrocha89 commented on #167
**Google**: Working

I think we already tested the most famous ones. What do you think @nraboy ?

[2015-12-04 18:43] xxvii27 opened #172 "LinkedIn Problem Authenticating localhost/callback server unexpected error"
I got problems authenticating with linkedIn, which in this case the problem comes after inputting my email and password, I got server returned an unexpected error, which results getting an undefined authorization code for the next step. I am using ionic in an android environment. It works fine for facebook and twitter. I have verified my LinkedIn settings, and ensure I have the correct permissions

[2015-12-04 19:38] nraboy commented on #167
@matheusrocha89 can you test LinkedIn with this?  https://github.com/nraboy/ng-cordova-oauth/issues/172

[2015-12-04 19:39] nraboy commented on #172
Can you try it with staging branch https://github.com/nraboy/ng-cordova-oauth/issues/167

[2015-12-04 19:40] #170 closed

[2015-12-04 19:40] #160 closed

[2015-12-04 19:40] #168 closed

[2015-12-04 20:10] xxvii27 commented on #172
same thing

[2015-12-04 20:27] nraboy commented on #172
I asked @matheusrocha89 to test this if he has time.

[2015-12-05 00:40] matheusrocha89 commented on #172
@nraboy I will test now to see what could be the problem. Later maybe I will have an answer for you guys.

[2015-12-05 01:15] matheusrocha89 commented on #172
@nraboy Tested linkedin and it's working... @xxvii27 can you print your console log? Does your app has been already approved for using the scopes you are requesting?

[2015-12-05 01:18] matheusrocha89 commented on #167
**Linkedin**: Working

@nraboy Tested now and it's working, I received the access_token just fine.

[2015-12-05 02:14] xxvii27 commented on #172
There are some parse headers when I perform the request is that the problem ? It's weird cause Facebook and Twitter works fine. The cordova inappbrowser basically returned this
https://www.dropbox.com/s/eg7kyka1ckd3skj/Screenshot_2015-12-04-18-01-01.png?dl=0

[2015-12-05 02:20] xxvii27 commented on #172
Can I see your sample, if you don't mind ?

[2015-12-05 12:06] matheusrocha89 commented on #172
yeah, sure. It's a very simple code @xxvii27

[code]

[2015-12-05 16:34] nraboy commented on #167
Staging branch 0.2.0 has been merged into the master.  Great work @matheusrocha89!

[2015-12-05 16:34] #167 closed

[2015-12-05 19:03] matheusrocha89 commented on #167
@nraboy great work for you too, you created the project and this is a very important part.

[2015-12-06 00:29] xunxdd commented on #167
thanks a lot, works fine. Have read your articles a lot, very helpful.

[2015-12-07 13:52] Mayur23491 commented on #43
Hello I am using Cordova app using Visual Studio 2015 community and simply login in the app using google authentication it's pretty fine login is done by open it in new window (in mobile it open's browser) but after login it gives me the three pop up messages and than don't do anything.

The messages are (which are coming after login process and gives allow permission):
1) gap_init:2
2) gap:[null,

[2015-12-07 16:12] nraboy commented on #43
Why are you specifying a port?  This is leading me to believe you are trying to use some serving technology like ionic serve or ionic view.  I cannot stress this enough, those are not compatible.  I also do not know what localhost://4400 is.

You need to set **http://localhost/callback** as your redirect_uri / callback

[2015-12-07 16:13] nraboy commented on #172
@xxvii27 do we have an update on this?

[2015-12-07 22:41] xxvii27 commented on #172
same thing, the problem happens because linked_in response with an error redirect, so that the plugin cannot get the authorization code from the url.

[2015-12-07 22:45] nraboy commented on #172
My assumption is you have something configured incorrectly in your LinkedIn account.  We cannot reproduce your problem.

[2015-12-07 22:49] xxvii27 commented on #172
My bad, I used my secondary email to login, works perfectly, using my primary email.

[2015-12-07 22:49] #172 closed

[2015-12-09 11:06] jigsawsoul opened #173 "cannot authenticate via a web browser, using simulator."
Hi,

I wonder if you can help, I'm receiving the following error; cannot authenticate via a web browser.

I have followed the following tutorial, http://blog.ionic.io/oauth-ionic-ngcordova/

Everything is setup as the examples, I understand there are issues running this using ionic view, live-reload. Although from my understand this should function correctly on Xcode's simulator and devices?

Than

[2015-12-09 11:33] Jarvey opened #174 "InAppBrowser issue with Apache Cordova 5.4.0/5.4.1 on Android"
Hi, The release notes of the latest version is saying: Fix InAppBrowser issue with Apache Cordova 5.4.0.
I stille have a InAppBrowser error on Android with Apache Cordova 5.4.0 and 5.4.1: Oauth plugin is saying "Could not find InAppBrowser plugin" when trying to login via Oauth on Strava